---
import Icon from "../Icon.astro";
---

<div class="relative inline-block text-left">
  <div>
    <button
      type="button"
      class="inline-flex w-full justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-grape-950 shadow-sm ring-1 ring-inset ring-grape-900 hover:bg-grape-100"
      id="menu-button"
      aria-expanded="true"
      aria-haspopup="true"
    >
      <Icon icon="bell" size="2em" />
      <h4 class="sr-only">Notificaciones</h4>
    </button>
  </div>
  <div
    class="notification-menu hidden absolute right-0 z-10 mt-2 max-h-96 w-[400px] origin-top-right divide-y divide-gray-100 rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none overflow-y-auto"
    role="menu"
    aria-orientation="vertical"
    aria-labelledby="menu-button"
    tabindex="-1"
  >
    <div class="notification-header flex flex-row justify-center items-center">
      <Icon icon="notification" size="1.4em" />
      <h5 class="text-xl p-6 text-grape-900 font-semibold not-sr-only">
        Notificaciones
      </h5>
    </div>
    <div class="py-1 divide-y divide-gray-100" role="none">
      <div
        class="user-notification m-4 text-gray-500 flex flex-row justify-center items-center gap-2"
      >
        <div
          class="notification-pfp border border-gray-300 bg-gray-300 rounded-full size-8 overflow-hidden"
        >
          <img
            class="image object-cover"
            src="https://images.unsplash.com/photo-1523824921871-d6f1a15151f1?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          />
        </div>
        <div
          class="text text-xs flex flex-row gap-1 justify-center items-center"
        >
          <strong>Usuario</strong><p>
            te ha invitado a su proyecto. Pulsa para ver más.
          </p>
        </div>
      </div>
    </div>
    <div class="py-1 divide-y divide-gray-100" role="none">
      <div
        class="user-notification m-4 text-gray-500 flex flex-row justify-center items-center gap-2"
      >
        <div
          class="notification-pfp border border-gray-300 bg-gray-300 rounded-full size-8 overflow-hidden"
        >
          <img
            class="image object-cover"
            src="https://images.unsplash.com/photo-1523824921871-d6f1a15151f1?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          />
        </div>
        <div
          class="text text-xs flex flex-row gap-1 justify-center items-center"
        >
          <strong>Usuario</strong><p>
            te ha invitado a su proyecto. Pulsa para ver más.
          </p>
        </div>
      </div>
    </div>
    <div class="notification-utils py-1 divide-y divide-gray-100" role="none">
      <div
        class="utils m-4 text-grape-800 flex flex-row justify-center items-center gap-2"
      >
        <div class="flex flex-row w-full justify-between items-start text-sm">
          <strong>Limpiar notificaciones</strong>
          <strong>Ver todo</strong>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  let isOpen = false;
  const menuButton = document.getElementById("menu-button");
  const notificationMenu = document.querySelector(".notification-menu");

  function toggleMenu() {
    isOpen = !isOpen;
    if (isOpen) {
      notificationMenu.classList.remove("hidden");
      menuButton.setAttribute("aria-expanded", "true");
    } else {
      notificationMenu.classList.add("hidden");
      menuButton.setAttribute("aria-expanded", "false");
    }
  }

  function onWindowClick(event) {
    if (
      !event.target.closest(".notification-menu") &&
      !event.target.closest("#menu-button")
    ) {
      isOpen = false;
      notificationMenu.classList.add("hidden");
      menuButton.setAttribute("aria-expanded", "false");
    }
  }

  menuButton.addEventListener("click", toggleMenu);
  window.addEventListener("click", onWindowClick);
</script>

<style>
  .notification-menu {
    scrollbar-width: thin;
  }

  .notification-menu
    > div:not(.notification-header):not(.notification-utils):hover {
    background-color: #f0edfa;
  }

  .utils > div > * {
    cursor: pointer;
    border-bottom: 1px solid white;
  }

  .utils > div > *:hover {
    border-bottom: 1px solid #693f98;
  }
</style>
