---
import type { APIContext } from "astro";
import { db, Projects, Users, eq } from "astro:db";

export const prerender = true;

// export async function getStaticPaths() {
//   const users = await db.select().from(Users);
//   const paths = users.map((user) => ({
//     params: { userId: user.id },
//   }));
//   console.log(paths);
//   return paths;
// }

export async function GET({ request }: APIContext) {
  const userId = request.headers.get("userId");
  const projects = await db
    .select()
    .from(Projects)
    .where(eq(Projects.user_creator, userId));

  if (projects.length === 0) {
    throw new Error(`No projects were found for user ${userId}`);
  }
  return new Response(JSON.stringify(projects));
}

const userId = Astro.request.headers.get("userId");
fetch(`/list/userProjects`, { headers: { userId: "Tuputamadre" } })
  .then((response) => response.text())
  .then((result) => console.log(result));
---

<p>
  holasdslasll
  {userId}
</p>
<div class="">hi</div>
