---
import Hero from "../components/Hero.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
const { searchParams } = Astro.url;

const message = searchParams.get("message");
---

<BaseLayout
  title="400 Bad Request"
  description="No se ha podido resolver la solicitud. Esto se debe a que estás enviando una solicitud incorrecta al servidor."
>
  <Hero
    title="No se ha podido resolver la solicitud."
    tagline="Aquí hay un mensaje para ti:"
  />
  <p
    class="text-center mx-auto mt-10 bg-purple-800 w-fit px-8 py-4 rounded-full border border-violet-500 bg-opacity-50"
  >
    {
      message ||
        "No se ha podido resolver la solicitud. Esto se debe a que estás enviando una solicitud incorrecta al servidor."
    }
  </p>
  <a href="/">Volver a inicio</a>
</BaseLayout>

<style>
  a {
    padding: 0.56em 2em;
    gap: 0.8em;
    color: var(--accent-text-over);
    text-decoration: none;
    line-height: 1.1;
    border-radius: 999rem;
    overflow: hidden;
    box-shadow: var(--shadow-md);
    white-space: nowrap;
    @apply mx-auto flex items-center justify-center my-12 w-32 bg-gradient-to-tr from-pink-700 from-0% to-purple-500 to-60% px-20 py-4 cursor-pointer hover:opacity-90 border-y border-y-fuchsia-500 border-x border-x-fuchsia-400;
  }
</style>
