---
import BaseLayout from "../layouts/BaseLayout.astro";
import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";
export const prerender = true;
---

<BaseLayout title="About | Swifly" description="Sobre Nosotros - Swifly">
  <div class="stack gap-20">
    <main class="wrapper about">
      <Hero
        title="Sobre Nosotros"
        tagline="Estamos aquí para hacerte todo más fácil."
      />

      <section>
        <h2 class="section-title">¿Quiénes somos?</h2>
        <div class="content">
          <p>
            Somos una plataforma virtual que se adapta a las necesidades del
            usuario. Nos enorgullece nuestra profunda comprensión en la
            importancia de trabajar en un entorno limpio y ordenado, así como
            nuestra determinación constante de estar a tu lado en cada momento
            que sea necesario.
          </p>
        </div>
      </section>
      <section>
        <h2 class="section-title">¿Por qué Swifly?</h2>
        <div class="content">
          <a href="/">Swifly</a> nace como una aplicación web que surge de la necesidad
          de organización diaria para las personas. Hemos unificado todas las herramientas
          posibles en un solo lugar, para que no tengas que depender de muchos recursos.
          Podrás invitar a tus amigos, colaborar en otros proyectos o simplemente
          cosecharlos por tu cuenta.
          <div
            class="flex flex-col lg:flex-row justify-center items-center my-12"
          >
            <img
              class="mx-4 border border-solid border-neutral-400 cursor-pointer hover:animate-pulse"
              src="https://images.unsplash.com/photo-1572177812156-58036aae439c?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
              alt=""
              width="200"
              height="200"
            />
            <img
              class="mx-4 border border-solid border-neutral-400 cursor-pointer hover:animate-pulse"
              src="https://images.unsplash.com/photo-1620325867502-221cfb5faa5f?q=80&w=2057&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
              alt=""
              width="200"
              height="200"
            />
            <img
              class="mx-4 border border-solid border-neutral-400 cursor-pointer hover:animate-pulse"
              src="https://images.unsplash.com/photo-1593642532842-98d0fd5ebc1a?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
              alt=""
              width="200"
              height="200"
            />
          </div>
        </div>
      </section>
      <section>
        <h2 class="section-title">Nuestro equipo</h2>
        <div class="content">
          <p>
            El miembro detrás del equipo es Sandra, una desarrolladora web con
            una gran motivación y capacidad de aprendizaje, capaz de crear y
            desarrollar conceptos que pretende que Swifly prospere en una gran
            comunidad de usuarios.
          </p>
        </div>
      </section>
    </main>
    <ContactCTA />
  </div>
</BaseLayout>

<style>
  .about {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
  }

  img {
    margin-top: 1.5rem;
    border-radius: 1.5rem;
    box-shadow: var(--shadow-md);
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--gray-200);
  }

  .section-title {
    grid-column-start: 1;
    font-size: var(--text-xl);
    color: var(--gray-0);
  }

  .content {
    grid-column: 2 / 4;
  }

  .content :global(a) {
    text-decoration: 1px solid underline transparent;
    text-underline-offset: 0.25em;
    transition: text-decoration-color var(--theme-transition);
  }

  .content :global(a:hover),
  .content :global(a:focus) {
    text-decoration-color: currentColor;
  }

  @media (min-width: 50em) {
    .about {
      display: grid;
      grid-template-columns: 1fr 60% 1fr;
    }

    .about > :global(:first-child) {
      grid-column-start: 2;
    }

    section {
      display: contents;
      font-size: var(--text-lg);
    }
  }

  @keyframes borderAnimation {
    0% {
      border-color: #8b5cf6;
    }
    100% {
      border-color: #6b46c1;
      transform: translateX(100%);
    }
  }

  .border-animation:hover {
    animation: borderAnimation 2s linear infinite;
  }
</style>
