---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/Hero.astro";
---

<BaseLayout
  title="Política de cookies | Swifly"
  description="Política de cookies de Swifly"
>
  <div class="stack gap-20">
    <main class="wrapper stack gap-8">
      <Hero title="" tagline="" />
      <div class="flex justify-center">
        <section
          class="box input flex flex-col justify-center items-start gap-12 h-fit rounded-none w-full max-w-6xl"
        >
          <div>
            <div class="section-title">POLÍTICA DE COOKIES</div>
            <div class="mb-8 text-sm">
              <strong>Last updated May 25, 2024 </strong>
            </div>
            <div>
              Esta Política de Cookies explica cómo Swifly App ("Compañía",
              "nosotros", "nos" y "nuestro") utiliza cookies y tecnologías
              similares para reconocerte cuando visitas nuestro sitio web en
              <a href="https://www.swifly.app">https://www.swifly.app</a> ("Sitio
              web"). Explica qué son estas tecnologías y por qué las utilizamos,
              así como tus derechos para controlar nuestro uso de ellas.
              <br />
              En algunos casos, podemos utilizar cookies para recopilar información
              personal, o que se convierte en información personal si la combinamos
              con otra información.
            </div>
          </div>

          <div>
            <div class="section-title">¿Por qué utilizamos cookies?</div>
            <div>
              Utilizamos cookies de primera y tercera parte por varias razones.
              Algunas cookies son necesarias por razones técnicas para que
              nuestro Sitio web funcione, y nos referimos a estas como cookies
              "esenciales" o "estrictamente necesarias". Otras cookies también
              nos permiten rastrear y dirigir los intereses de nuestros usuarios
              para mejorar la experiencia en nuestras Propiedades en línea.
              Terceros sirven cookies a través de nuestro Sitio web para
              publicidad, análisis y otros fines. Esto se describe con más
              detalle a continuación.
            </div>
          </div>

          <div class="flex flex-col gap-4">
            <div class="section-title">¿Cómo puedo controlar las cookies?</div>
            <div>
              Tienes derecho a decidir si aceptar o rechazar las cookies. Puedes
              ejercer tus derechos de cookies configurando tus preferencias en
              el Administrador de consentimiento de cookies. El Administrador de
              consentimiento de cookies te permite seleccionar qué categorías de
              cookies aceptas o rechazas. Las cookies esenciales no pueden ser
              rechazadas ya que son estrictamente necesarias para proporcionarte
              servicios.
            </div>
            <div>
              El Administrador de consentimiento de cookies se encuentra en el
              banner de notificación y en nuestro sitio web. Si optas por
              rechazar las cookies, aún puedes usar nuestro sitio web, aunque tu
              acceso a algunas funcionalidades y áreas de nuestro sitio web
              puede estar restringido. También puedes configurar o modificar los
              controles de tu navegador web para aceptar o rechazar cookies.
            </div>
            <div>
              Los tipos específicos de cookies de primera y tercera parte
              servidas a través de nuestro Sitio web y los fines que realizan se
              describen en la siguiente tabla (ten en cuenta que las cookies
              específicas servidas pueden variar según las Propiedades en línea
              específicas que visites):
            </div>
            <div
              class="classified-cookies flex flex-col gap-12 divide-y divide-gray-300 divide-opacity-40"
            >
              <p>
                <strong>Cookies no clasificadas:</strong> Estas son cookies que aún
                no han sido categorizadas. Estamos en el proceso de clasificar estas
                cookies con la ayuda de sus proveedores.
              </p>
              <div class="grid grid-cols-2 gap-4 py-6 font-mono">
                <div class="font-bold">Nombre:</div>
                <div>github_oauth_state</div>
                <div class="font-bold">Proveedor:</div>
                <div>www.swifly.app</div>
                <div class="font-bold">Tipo:</div>
                <div>server_cookie</div>
                <div class="font-bold">Expira en:</div>
                <div>10 minutos</div>
              </div>
              <div class="grid grid-cols-2 gap-4 py-6 font-mono">
                <div class="font-bold">Nombre:</div>
                <div>theme</div>
                <div class="font-bold">Proveedor:</div>
                <div><a href="https://www.swifly.app">www.swifly.app</a></div>
                <div class="font-bold">Tipo:</div>
                <div>html_local_storage</div>
                <div class="font-bold">Expira en:</div>
                <div>persistente</div>
              </div>
            </div>
          </div>

          <div>
            <div class="section-title">
              ¿Cómo puedo controlar las cookies en mi navegador?
            </div>
            <div>
              Dado que los medios para rechazar las cookies a través de los
              controles de su navegador web varían de un navegador a otro, debe
              visitar el menú de ayuda de su navegador para obtener más
              información. A continuación se ofrece información sobre cómo
              gestionar las cookies en los navegadores más populares:
              <ul class="list-disc mx-12 my-6">
                <li>Chrome</li>
                <li>Edge</li>
                <li>Firefox</li>
                <li>Opera</li>
                <li>Safari</li>
                <li>Internet Explorer</li>
              </ul>
              Además, la mayoría de las redes publicitarias le ofrecen una forma
              de optar por no recibir publicidad dirigida. Si desea obtener más información,
              visite:
              <ul class="list-disc mx-12 my-6">
                <li>Digital Advertising Alliance</li>
                <li>Digital Advertising Alliance of Canada</li>
                <li>European Interactive Digital Advertising Alliance</li>
              </ul>
            </div>
          </div>

          <div>
            <div class="section-title">
              ¿Qué pasa con otras tecnologías de seguimiento, como las balizas
              web?
            </div>
            <div>
              <p>
                Las cookies no son la única forma de reconocer o rastrear a los
                visitantes de un sitio web. Podemos usar otras tecnologías
                similares de vez en cuando, como balizas web (a veces llamadas
                "píxeles de seguimiento" o "GIF claros"). Estos son archivos
                gráficos diminutos que contienen un identificador único que nos
                permite reconocer cuando alguien ha visitado nuestro sitio web o
                ha abierto un correo electrónico que los incluye. Esto nos
                permite, por ejemplo, monitorear los patrones de tráfico de los
                usuarios de una página dentro de un sitio web a otra, entregar o
                comunicarnos con cookies, entender si ha llegado al sitio web
                desde un anuncio en línea mostrado en un sitio web de terceros,
                mejorar el rendimiento del sitio y medir el éxito de las
                campañas de marketing por correo electrónico. En muchos casos,
                estas tecnologías dependen de las cookies para funcionar
                correctamente, por lo que rechazar las cookies afectará su
                funcionamiento.
              </p>
            </div>
          </div>
          <div>
            <div class="section-title">
              ¿Usan cookies Flash o objetos compartidos locales?
            </div>
            <div>
              Los sitios web también pueden usar las llamadas "Cookies Flash"
              (también conocidas como Objetos Compartidos Locales o "LSOs")
              para, entre otras cosas, recopilar y almacenar información sobre
              su uso de nuestros servicios, prevenir fraudes y para otras
              operaciones del sitio.
            </div>
            <div>
              Los sitios web también pueden usar las llamadas "Cookies Flash"
              (también conocidas como Objetos Compartidos Locales o "LSOs")
              para, entre otras cosas, recopilar y almacenar información sobre
              su uso de nuestros servicios, prevenir fraudes y para otras
              operaciones del sitio.
            </div>
            <div>
              Tenga en cuenta que configurar el reproductor Flash para
              restringir o limitar la aceptación de cookies Flash puede reducir
              o impedir la funcionalidad de algunas aplicaciones Flash,
              incluidas, potencialmente, las aplicaciones Flash utilizadas en
              relación con nuestros servicios o contenido en línea.
            </div>
          </div>
          <div>
            <div class="section-title">¿Sirven publicidad dirigida?</div>
            <div>
              Terceros pueden colocar cookies en su computadora o dispositivo
              móvil para servir publicidad a través de nuestro sitio web. Estas
              compañías pueden usar información sobre sus visitas a este y otros
              sitios web para proporcionar anuncios relevantes sobre bienes y
              servicios que pueden ser de su interés. También pueden emplear
              tecnología que se utiliza para medir la efectividad de los
              anuncios. Pueden lograr esto utilizando cookies o balizas web para
              recopilar información sobre sus visitas a este y otros sitios con
              el fin de proporcionar anuncios relevantes sobre bienes y
              servicios de posible interés para usted. La información recopilada
              a través de este proceso no nos permite a nosotros ni a ellos
              identificar su nombre, datos de contacto u otros detalles que lo
              identifiquen directamente a menos que decida proporcionar estos.
            </div>
          </div>
          <div>
            <div class="section-title">
              ¿Con qué frecuencia actualizarán esta política de cookies?
            </div>
            <div>
              Podemos actualizar esta Política de Cookies de vez en cuando para
              reflejar, por ejemplo, cambios en las cookies que utilizamos o por
              otras razones operativas, legales o reglamentarias. Por lo tanto,
              vuelva a visitar esta Política de Cookies regularmente para estar
              informado sobre nuestro uso de cookies y tecnologías relacionadas.
            </div>
            <strong
              >La fecha en la parte superior de esta Política de Cookies indica
              cuándo se actualizó por última vez.</strong
            >
          </div>
          <div>
            Si tiene alguna pregunta sobre nuestro uso de cookies u otras
            tecnologías, por favor contáctenos en: <a
              href="https://www.swifly.app">Swifly App</a
            >
          </div>
        </section>

        <style>
          details {
            @apply p-4;
          }

          details > div {
            @apply p-8;
          }

          summary {
            @apply cursor-pointer list-none flex flex-row justify-between items-center;
          }

          .section-title {
            @apply font-semibold my-4 text-lg;
          }

          .contents {
            @apply flex flex-col justify-center items-center gap-12;
          }

          .policy {
            @apply flex flex-col gap-8 justify-center items-start;
          }

          .box {
            border: 1px solid var(--gray-800);
            border-radius: 0.75rem;
            padding: 1.5rem;
            background-color: var(--gray-999_40);
            box-shadow: var(--shadow-sm);
          }

          .input {
            display: flex;
            flex-direction: column;
          }

          #reset {
            color: white;
            cursor: pointer;
            padding-left: 2rem;
            padding-right: 2rem;
            padding-top: 1rem;
            padding-bottom: 1rem;
            margin-top: 2rem;
            border-radius: 9999px;
            border-width: 1px;
            --tw-border-opacity: 1;
            background-color: rgb(89 28 135 / var(--tw-border-opacity));
            border-left-color: rgb(192 132 252 / var(--tw-border-opacity));
            border-right-color: rgb(192 132 252 / var(--tw-border-opacity));
            border-top-color: rgb(168 85 247 / var(--tw-border-opacity));
            border-bottom-color: rgb(168 85 247 / var(--tw-border-opacity));
          }

          #login:hover {
            --tw-bg-opacity: 1;
            background-color: rgb(107 33 168 / var(--tw-bg-opacity));
          }

          .skills h2 {
            font-size: var(--text-lg);
          }

          .skills p {
            color: var(--gray-400);
          }

          @media (min-width: 50em) {
            .box {
              border-radius: 1.5rem;
              padding: 2.5rem;
            }

            .skills {
              display: grid;
              grid-template-columns: repeat(3, 1fr);
              gap: 5rem;
            }

            .skills h2 {
              font-size: var(--text-2xl);
            }
          }
        </style>
      </div>
    </main>
  </div>
</BaseLayout>
