---
import Icon from "../components/Icon.astro";
import Dropdown from "../components/Dropdown.astro";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <style>
      .padre-proyectos > div {
        margin: 10px;
      }
    </style>
  </head>
  <body class="bg-gray-100">
    <div class="container flex flex-row min-w-full absolute bg-gray-200">
      <header
        class="fixed z-20 rounded-sm border border-grape-900 bg-grape-950 text-grape-300 flex flex-col justify-between items-center w-fit h-screen shadow-md"
      >
        <div class="section flex justify-center items-center flex-col w-full">
          <div class="logo flex flex-row p-4 cursor-pointer">
            <a href="/dashboard" aria-label="swifly">
              <Icon icon="swifly" size="2.6em" />
            </a>
            <h1 class="mx-2 sr-only">Swifly</h1>
          </div>
        </div>

        <nav class="flex justify-center items-center w-full">
          <ul class="flex flex-col justify-center items-center w-full">
            <li
              class="my-1 p-6 border-t border-t-grape-300 hover:opacity-50 bg-grape-950 hover:text-grape-50 cursor-pointer"
            >
              <Icon icon="user" size="2em" />
              <h4 class="sr-only">Mis proyectos</h4>
            </li>
            <li
              class="my-1 p-6 border-t border-t-grape-300 hover:opacity-50 bg-grape-950 hover:text-grape-50 cursor-pointer"
            >
              <Icon icon="chat" size="2em" />
              <h4 class="sr-only">Mensajes</h4>
            </li>
            <li
              class="my-1 p-6 border-y border-y-grape-300 hover:opacity-50 bg-grape-950 hover:text-grape-50 cursor-pointer"
            >
              <Icon icon="settings" size="2em" />
              <h4 class="sr-only">Ajustes</h4>
            </li>
          </ul>
        </nav>
        <nav class="w-full">
          <ul>
            <li
              class="hover:text-grape-50 p-4 border-t-grape-900 cursor-pointer"
            >
              <a href="/">
                <Icon icon="signout" size="2em" />
                <h4 class="sr-only">Cerrar sesión</h4>
              </a>
            </li>
          </ul>
        </nav>
      </header>
      <section
        class="top-bar z-10 fixed flex flex-row justify-between items-center w-full h-16 border-b border-b-gray-300 bg-white"
      >
        <nav class="mx-24">
          <div
            class="search-wrapper flex flex-row items-center justify-center relative"
          >
            <input
              class="bg-gray-200 border border-gray-300 px-8 py-2 rounded-xl"
              type="search"
              name="search"
              id="search"
              placeholder="Buscar"
            />
            <div class="magnifying-glass relative right-10 text-gray-400">
              <Icon icon="search" size="2em" />
            </div>
          </div>
        </nav>
        <nav class="text-grape-950 flex flex-row items-center justify-center">
          <ul class="flex flex-row items-center justify-evenly">
            <li>
              <div
                class="rounded-lg create flex flex-row items-center justify-center text-grape-900 cursor-pointer hover:bg-grape-100"
              >
                <Icon icon="plus" size="2em" />
              </div>
            </li>
            <li class="mx-4">
              <Dropdown />
              <li class="ml-8 mr-4">
                <div
                  class="profile flex justify-center flex-col items-center relative"
                >
                  <div
                    class="pfp rounded-full border border-grape-900 overflow-hidden size-12 shadow-lg cursor-pointer hover:opacity-90"
                  >
                    <img
                      class="object-cover size-full"
                      src="https://img.freepik.com/foto-gratis/mujer-bastante-joven-feliz-que-presenta-camara-parque-ciudad_1262-19158.jpg?t=st=1715065018~exp=1715068618~hmac=a7a350bdf7852d0a6319c053874ec91f979da5bbec25e65d8caefcecd84b7c38&w=1380"
                      alt="Foto de perfil"
                    />
                  </div>
                  <div
                    class="status status-online rounded-full size-3 bg-green-600 absolute top-9 left-8 border-t border-t-green-700"
                  >
                  </div>
                </div>
              </li>
            </li>
          </ul>
        </nav>
        <div
          class="content w-full max-w-8xl absolute flex flex-col md:flex-row gap-4 justify-start items-start top-40 left-40"
        >
          <main
            class="flex flex-col gap-2 justify-center items-start bg-white-200 p-10 rounded-lg bg-white border border-gray-300 shadow-sm w-full max-w-6xl"
          >
            <h2 class="font-semibold text-2xl not-sr-only">Mis proyectos</h2>
            <hr class="h-px w-full text-gray-400 my-4" />
            <section
              class="my-projects flex flex-row justify-start flex-wrap basis-1/3 gap-2"
            >
              <div
                class="project rounded-xl h-32 w-64 bg-red-400 backdrop-opacity-10 flex flex-col items-center justify-center"
              >
                <h5 class="font-semibold">Título</h5>
                <div class="p-4 w-full"></div>
              </div>
              <div
                class="project rounded-xl h-32 w-64 bg-plum-300 backdrop-opacity-10 flex flex-col items-center justify-center"
              >
                <h5 class="font-semibold">Título</h5>
                <div class="p-4 w-full"></div>
              </div>
              <div
                class="project rounded-xl h-32 w-64 bg-purple-300 backdrop-opacity-10 flex flex-col items-center justify-center"
              >
                <h5 class="font-semibold">Título</h5>
                <div class="p-4 w-full"></div>
              </div>
              <div
                class="project rounded-xl h-32 w-64 bg-purple-300 backdrop-opacity-10 flex flex-col items-center justify-center"
              >
                <h5 class="font-semibold">Título</h5>
                <div class="p-4 w-full"></div>
              </div>
              <div
                class="project rounded-xl h-32 w-64 bg-purple-300 backdrop-opacity-10 flex flex-col items-center justify-center"
              >
                <h5 class="font-semibold">Título</h5>
                <div class="p-4 w-full"></div>
              </div>
              <div
                class="project rounded-xl h-32 w-64 bg-purple-300 backdrop-opacity-10 flex flex-col items-center justify-center"
              >
                <h5 class="font-semibold">Título</h5>
                <div class="p-4 w-full"></div>
              </div>
            </section>
            <h2 class="font-semibold text-2xl not-sr-only">
              Proyectos en los que estoy colaborando
            </h2>
            <hr class="h-px w-full text-gray-400 my-4" />
            <section
              class="collab-projects flex flex-row justify-start flex-wrap basis-1/3 gap-2"
            >
              <div
                class="project rounded-xl h-32 w-64 bg-yellow-300 backdrop-opacity-10 flex flex-col items-center justify-center"
              >
                <h5 class="font-semibold">Título</h5>
                <div class="p-4 w-full"></div>
              </div>
              <div
                class="project rounded-xl h-32 w-64 bg-purple-300 backdrop-opacity-10 flex flex-col items-center justify-center"
              >
                <h5 class="font-semibold">Título</h5>
                <div class="p-4 w-full"></div>
              </div>
              <div
                class="project rounded-xl h-32 w-64 bg-red-300 backdrop-opacity-10 flex flex-col items-center justify-center"
              >
                <h5 class="font-semibold">Título</h5>
                <div class="p-4 w-full"></div>
              </div>
              <div
                class="project rounded-xl h-32 w-64 bg-orange-300 backdrop-opacity-10 flex flex-col items-center justify-center"
              >
                <h5 class="font-semibold">Título</h5>
                <div class="p-4 w-full"></div>
              </div>
              <div
                class="project rounded-xl h-32 w-64 bg-orange-300 backdrop-opacity-10 flex flex-col items-center justify-center"
              >
                <h5 class="font-semibold">Título</h5>
                <div class="p-4 w-full"></div>
              </div>
              <div
                class="project rounded-xl h-32 w-64 bg-orange-300 backdrop-opacity-10 flex flex-col items-center justify-center"
              >
                <h5 class="font-semibold">Título</h5>
                <div class="p-4 w-full"></div>
              </div>
              <div
                class="project rounded-xl h-32 w-64 bg-orange-300 backdrop-opacity-10 flex flex-col items-center justify-center"
              >
                <h5 class="font-semibold">Título</h5>
                <div class="p-4 w-full"></div>
              </div>
              <div
                class="project rounded-xl h-32 w-64 bg-orange-300 backdrop-opacity-10 flex flex-col items-center justify-center"
              >
                <h5 class="font-semibold">Título</h5>
                <div class="p-4 w-full"></div>
              </div>
            </section>
          </main>
          <aside
            class="bg-white border border-gray-300 flex flex-col justify-center items-start p-12 w-full max-w-lg rounded-lg"
          >
            <h2 class="font-semibold text-2xl not-sr-only">Mensajes</h2>
            <hr class="h-px w-full text-gray-400 my-4" />
            <div class="chat-messages">
              <div
                class="chat flex gap-2 text-gray-600 flex-row justify-center items-center border-b border-b-gray-200 p-2"
              >
                <div class="chat-pfp rounded-full size-10 bg-gray-300">
                  <img src="" alt="" />
                </div>
                <h5 class="font-semibold text-base">Usuario</h5>
              </div>
            </div>
          </aside>
        </div>
      </section>
    </div>
  </body>

  <style>
    main > section {
      margin: 24px 0px 24px 0px;
    }

    .notification-menu {
      scrollbar-width: thin;
    }

    .notification-menu > div:not(.notification-header):hover {
      background-color: #f0edfa;
    }
  </style>
</html>
