---
import Icon from "../components/Icon.astro";
import { Image } from "astro:assets";
import Calendar from "../components/Calendar.astro";
import Menu from "../components/Menu.astro";
import Modal from "../components/Modal.astro";
const currentYear = new Date().getFullYear();
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <style>
      .padre-proyectos > div {
        margin: 10px;
      }
    </style>
  </head>
  <body class="bg-gray-100">
    <div
      class="nav-wrapper fixed top-0 z-40 w-full bg-white-500 flex flex-row justify-center items-center bg-white border-b border-b-gray-300 shadow-xs"
    >
      <header
        class="flex justify-between items-center w-full max-w-7xl bg-white"
      >
        <div class="section flex justify-start items-start flex-col w-full">
          <div
            class="logo flex flex-row cursor-pointer p-2 bg-grape-950 text-grape-300 hover:bg-opacity-95"
          >
            <a href="/dashboard" aria-label="swifly">
              <Icon icon="swifly" size="2.6em" />
            </a>
            <h1 class="mx-2 sr-only">Swifly</h1>
          </div>
        </div>
        <nav class="text-grape-950 flex flex-row items-center justify-center">
          <ul class="flex flex-row items-center justify-evenly gap-1">
            <li>
              <Menu
                clase="add-project dropdown"
                icon="plus"
                sr-title="Crear nuevo proyecto"
                title="Crear nuevo proyecto"
              >
                <div slot="children">
                  <div
                    class="create-wrapper w-full flex flex-row items-center justify-center"
                  >
                    <form
                      action="/project-"
                      method="post"
                      class="flex flex-col justify-center items-start px-12 py-4 m-2 bg-grape-50 border border-grape-200 rounded-xl gap-4"
                    >
                      <label
                        for="project-title"
                        class="font-semibold text-leading"
                        >Título del proyecto</label
                      >
                      <input
                        type="text"
                        name="project-title"
                        id="project-title"
                        class="px-8 py-2 rounded-lg bg-grape-100 border border-grape-200"
                      />
                      <label for="summary" class="font-semibold text-leading"
                        >Resumen de proyecto</label
                      >
                      <input
                        type="text"
                        name="summary"
                        id="summary"
                        class="px-8 py-2 rounded-lg bg-grape-100 border border-grape-200"
                        placeholder="0/120"
                      />
                      <label
                        for="project-description"
                        class="font-semibold text-leading">Descripción</label
                      >
                      <input
                        type="text"
                        name="project-description"
                        id="project-description"
                        class="px-8 py-2 rounded-lg bg-grape-100 border border-grape-200"
                      />
                      <input
                        type="submit"
                        value="Crear"
                        class="w-1/2 self-center mt-2 p-2 cursor-pointer hover:bg-grape-400 hover:text-grape-900 bg-grape-300 text-lg border border-grape-800 text-grape-800 rounded-xl"
                      />
                    </form>
                  </div>
                </div>
              </Menu>
            </li>
            <li>
              <Menu
                clase="search-menu dropdown"
                icon="search"
                sr-title="Buscador"
                title="Buscar"
              >
                <div
                  slot="children"
                  class="flex flex-row h-24 justify-center items-center"
                >
                  <div class="search-wrapper w-full">
                    <form
                      action="/search"
                      method="get"
                      class="flex flex-row w-full items-center justify-center gap-2"
                    >
                      <input
                        class="text-left rounded-xl h-12 w-[70%] px-2 bg-grape-50 border border-grape-200 focus:bg-grape-200"
                        type="text"
                        name="q"
                        placeholder="Buscar..."
                      />
                      <button class="hover:bg-grape-100 rounded-full">
                        <Icon icon="send" size="1.3em" />
                      </button>
                    </form>
                  </div>
                </div>
              </Menu>
            </li>
            <li>
              <Menu
                clase="notification-menu dropdown"
                icon="bell"
                sr-title="Notificaciones"
                title="Notificaciones"
              >
                <div slot="children">
                  <div
                    class="user-notification m-4 text-gray-500 flex flex-row justify-center items-center gap-2"
                  >
                    <div
                      class="notification-pfp border border-gray-300 bg-gray-300 rounded-full size-8 overflow-hidden"
                    >
                      <img
                        class="image object-cover"
                        src="https://images.unsplash.com/photo-1523824921871-d6f1a15151f1?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                      />
                    </div>
                    <div
                      class="text text-xs flex flex-row gap-1 justify-center items-center"
                    >
                      <strong>Usuario</strong><p>
                        te ha invitado a su proyecto. Pulsa para ver más.
                      </p>
                    </div>
                  </div>
                  <div class="py-1 divide-y divide-gray-100" role="none">
                    <div
                      class="user-notification m-4 text-gray-500 flex flex-row justify-center items-center gap-2"
                    >
                      <div
                        class="notification-pfp border border-gray-300 bg-gray-300 rounded-full size-8 overflow-hidden"
                      >
                        <img
                          class="image object-cover"
                          src="https://images.unsplash.com/photo-1523824921871-d6f1a15151f1?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                        />
                      </div>
                      <div
                        class="text text-xs flex flex-row gap-1 justify-center items-center"
                      >
                        <strong>Usuario</strong><p>
                          te ha invitado a su proyecto. Pulsa para ver más.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div
                    class="notification-utils py-1 divide-y divide-gray-100"
                    role="none"
                  >
                    <div
                      class="utils m-4 text-grape-800 flex flex-row justify-center items-center gap-2"
                    >
                      <div
                        class="flex flex-row w-full justify-between items-start text-sm"
                      >
                        <strong>Limpiar notificaciones</strong>
                        <strong>Ver todo</strong>
                      </div>
                    </div>
                  </div>
                </div>
              </Menu>
            </li>
            <li
              class="inline-flex cursor-pointer w-full justify-center gap-x-1.5 rounded-md bg-white px-3 py-2 text-sm font-semibold text-grape-950 shadow-sm ring-1 ring-inset ring-grape-900 hover:bg-red-100 hover:ring-red-900 hover:text-red-900"
            >
              <a href="/">
                <Icon icon="signout" size="2em" />
                <h5 class="sr-only">Cerrar sesión</h5>
              </a>
            </li>
            <li class="ml-8 mr-4">
              <div
                class="profile flex justify-center flex-col items-center relative"
              >
                <div
                  class="pfp rounded-full border border-grape-900 overflow-hidden size-12 shadow-lg cursor-pointer hover:opacity-90"
                >
                  <Image
                    src="https://img.freepik.com/foto-gratis/mujer-bastante-joven-feliz-que-presenta-camara-parque-ciudad_1262-19158.jpg?t=st=1715065018~exp=1715068618~hmac=a7a350bdf7852d0a6319c053874ec91f979da5bbec25e65d8caefcecd84b7c38&w=1380"
                    alt="Foto de perfil personal"
                    width="100"
                    height="100"
                    loading="eager"
                    class="object-cover size-full"
                  />
                </div>
                <div
                  class="status status-online rounded-full size-3 bg-green-600 absolute top-9 left-8 border-t border-t-green-700"
                >
                </div>
              </div>
            </li>
          </ul>
        </nav>
      </header>
    </div>
    <div
      class="content p-8 md:p-0 mt-24 w-full flex flex-col xl:flex-row gap-4 justify-center items-start"
    >
      <main
        class="flex flex-col gap-2 justify-center items-start bg-white-200 p-10 rounded-lg bg-white border border-gray-300 shadow-sm w-full max-w-4xl"
      >
        <h2 class="text-grape-800 font-semibold text-2xl not-sr-only">
          Mis proyectos
        </h2>
        <hr class="h-px w-full text-gray-400 my-4" />
        <section
          class="my-projects flex flex-row justify-center items-center sm:justify-start flex-wrap basis-1/3 gap-2"
        >
          <div
            class="project rounded-xl h-32 w-64 border border-gray-200 bg-gray-50 hover:bg-opacity-85 flex flex-col items-center justify-start cursor-pointer"
          >
            <h5 class="font-semibold text-gray-400 p-2">Título de proyecto</h5>
            <div class="p-4 w-full"></div>
          </div>
        </section>
        <h2 class="text-grape-800 font-semibold text-2xl not-sr-only">
          Proyectos en los que estoy colaborando
        </h2>
        <hr class="h-px w-full text-gray-400 my-4" />
        <section
          class="collab-projects flex flex-row justify-center items-center sm:justify-start flex-wrap basis-1/3 gap-2"
        >
          <div
            class="project rounded-xl h-32 w-64 border border-gray-200 bg-gray-50 hover:bg-opacity-85 flex flex-col items-center justify-start cursor-pointer"
          >
            <h5 class="font-semibold text-gray-400 p-2">Título de proyecto</h5>
            <div class="p-4 w-full"></div>
          </div>
        </section>
      </main>
      <aside class="flex flex-col justify-center items-center">
        <section
          class="bg-white flex flex-col justify-center items-start p-12 w-full max-w-lg rounded-xl border border-gray-300"
        >
          <div
            class="chat-title w-full flex flex-row justify-between items-center text-grape-800"
          >
            <h2 class="text-grape-800 font-semibold text-2xl not-sr-only">
              Mensajes
            </h2>
            <div
              class="add-chat hover:bg-grape-200 rounded-full cursor-pointer p-1"
            >
              <Icon icon="plus" size="1.5em" />
            </div>
          </div>
          <hr class="h-px w-full text-gray-400 my-4 mb-4" />
          <div class="aside-wrapper w-full">
            <div class="chat-messages flex h-96 w-full">
              <div
                class="chat flex flex-col gap-2 justify-center items-center w-full overflow-auto"
              >
                <div
                  class="chat-section-wrapper flex flex-col justify-center w-full items-start hover:bg-gray-50 rounded-md cursor-pointer text-gray-400"
                >
                  <hr class="h-px w-full text-gray-400 my-2" />
                  <div
                    class="chat-user-wrapper w-full flex flex-row justify-between items-center gap-2"
                  >
                    <div
                      class="flex flex-row justify-center items-center gap-6"
                    >
                      <div
                        class="chat-pfp rounded-full size-10 bg-gray-300 overflow-hidden shadow-md border border-gray-300"
                      >
                        <Image
                          src="https://images.unsplash.com/photo-1544005313-94ddf0286df2?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8cG9ydHJhaXR8ZW58MHx8MHx8fDA%3D"
                          alt="Foto de perfil"
                          width="100"
                          height="100"
                          loading="eager"
                          class="object-cover size-full"
                        />
                      </div>
                      <h5 class="font-semibold text-sm">Usuario</h5>
                    </div>

                    <div
                      class="delete flex justify-self-end hover:text-red-400"
                    >
                      <Icon icon="close" size="1em" />
                    </div>
                  </div>
                  <hr class="h-px w-full text-gray-400 my-2" />
                </div>
                <div
                  class="chat-section-wrapper flex flex-col justify-center w-full items-start hover:bg-gray-50 rounded-md cursor-pointer text-gray-400"
                >
                  <hr class="h-px w-full text-gray-400 my-2" />
                  <div
                    class="chat-user-wrapper w-full flex flex-row justify-between items-center gap-2"
                  >
                    <div
                      class="flex flex-row justify-center items-center gap-6"
                    >
                      <div
                        class="chat-pfp rounded-full size-10 bg-gray-300 overflow-hidden shadow-md border border-gray-300"
                      >
                        <Image
                          src="https://images.unsplash.com/photo-1523824921871-d6f1a15151f1?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                          alt="Foto de perfil"
                          width="100"
                          height="100"
                          loading="eager"
                          class="object-cover size-full"
                        />
                      </div>
                      <h5 class="font-semibold text-sm">Usuario</h5>
                    </div>

                    <div
                      class="delete flex justify-self-end hover:text-red-400"
                    >
                      <Icon icon="close" size="1em" />
                    </div>
                  </div>
                  <hr class="h-px w-full text-gray-400 my-2" />
                </div>
                <div
                  class="chat-section-wrapper flex flex-col justify-center w-full items-start hover:bg-gray-50 rounded-md cursor-pointer text-gray-400"
                >
                  <hr class="h-px w-full text-gray-400 my-2" />
                  <div
                    class="chat-user-wrapper w-full flex flex-row justify-between items-center gap-2"
                  >
                    <div
                      class="flex flex-row justify-center items-center gap-6"
                    >
                      <div
                        class="chat-pfp rounded-full size-10 bg-gray-300 overflow-hidden shadow-md border border-gray-300"
                      >
                        <Image
                          src="https://images.unsplash.com/photo-1596075780750-81249df16d19?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                          alt="Foto de perfil"
                          width="100"
                          height="100"
                          loading="eager"
                          class="object-cover size-full"
                        />
                      </div>
                      <h5 class="font-semibold text-sm">Usuario</h5>
                    </div>

                    <div
                      class="delete flex justify-self-end hover:text-red-400"
                    >
                      <Icon icon="close" size="1em" />
                    </div>
                  </div>
                  <hr class="h-px w-full text-gray-400 my-2" />
                </div>
                <div
                  class="chat-section-wrapper flex flex-col justify-center w-full items-start hover:bg-gray-50 rounded-md cursor-pointer text-gray-400"
                >
                  <hr class="h-px w-full text-gray-400 my-2" />
                  <div
                    class="chat-user-wrapper w-full flex flex-row justify-between items-center gap-2"
                  >
                    <div
                      class="flex flex-row justify-center items-center gap-6"
                    >
                      <div
                        class="chat-pfp rounded-full size-10 bg-gray-300 overflow-hidden shadow-md border border-gray-300"
                      >
                        <Image
                          src="https://images.unsplash.com/photo-1502823403499-6ccfcf4fb453?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                          alt="Foto de perfil"
                          width="100"
                          height="100"
                          loading="eager"
                          class="object-cover size-full"
                        />
                      </div>
                      <h5 class="font-semibold text-sm">Usuario</h5>
                    </div>

                    <div
                      class="delete flex justify-self-end hover:text-red-400"
                    >
                      <Icon icon="close" size="1em" />
                    </div>
                  </div>
                  <hr class="h-px w-full text-gray-400 my-2" />
                </div>
                <div
                  class="chat-section-wrapper flex flex-col justify-center w-full items-start hover:bg-gray-50 rounded-md cursor-pointer text-gray-400"
                >
                  <hr class="h-px w-full text-gray-400 my-2" />
                  <div
                    class="chat-user-wrapper w-full flex flex-row justify-between items-center gap-2"
                  >
                    <div
                      class="flex flex-row justify-center items-center gap-6"
                    >
                      <div
                        class="chat-pfp rounded-full size-10 bg-gray-300 overflow-hidden shadow-md border border-gray-300"
                      >
                        <Image
                          src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                          alt="Foto de perfil"
                          width="100"
                          height="100"
                          loading="eager"
                          class="object-cover size-full"
                        />
                      </div>
                      <h5 class="font-semibold text-sm">Usuario</h5>
                    </div>

                    <div
                      class="delete flex justify-self-end hover:text-red-400"
                    >
                      <Icon icon="close" size="1em" />
                    </div>
                  </div>
                  <hr class="h-px w-full text-gray-400 my-2" />
                </div>
              </div>
            </div>
            <hr class="h-px w-full text-gray-400 my-4" />
          </div>
        </section>
        <section
          class="calendar-wrapper border border-gray-300 rounded-xl bg-white my-4 p-8"
        >
          <h2 class="text-grape-800 not-sr-only font-semibold text-2xl">
            Calendario
          </h2>
          <hr class="h-px w-full text-gray-400 my-4" />
          <div class="calendar">
            <Calendar />
          </div>
        </section>
        <Modal btn="moon-stars" title="Crear un proyecto nuevo">
          <div slot="children" class="w-full">
            <div
              class="create-wrapper w-full flex flex-row items-center justify-start"
            >
              <form
                action="/project-"
                method="post"
                class="flex flex-col justify-center items-start
                w-full gap-2"
              >
                <div
                  class="inputs flex flex-col w-full gap-4 py-8 text-grape-950"
                >
                  <label for="project-title" class="font-semibold text-leading"
                    >Título del proyecto</label
                  >
                  <input
                    type="text"
                    name="project-title"
                    id="project-title"
                    class="px-8 py-2 rounded-lg bg-grape-100 border border-grape-200"
                    placeholder="Título"
                  />
                  <label for="summary" class="font-semibold text-leading"
                    >Resumen</label
                  >
                  <input
                    type="text"
                    name="summary"
                    id="summary"
                    class="px-8 py-2 rounded-lg bg-grape-100 border border-grape-200"
                    placeholder="Resumen del proyecto"
                  />
                  <label
                    for="project-description"
                    class="font-semibold text-leading">Descripción</label
                  >
                  <textarea
                    rows="4"
                    cols="50"
                    name="project-description"
                    id="project-description"
                    class="px-8 py-2 rounded-lg bg-grape-100 border border-grape-200 h-32"
                    placeholder="Descripción del proyecto"></textarea>
                  <input
                    type="submit"
                    value="Crear"
                    class="w-1/2 self-center mt-2 p-2 cursor-pointer hover:bg-grape-400 hover:text-grape-900 bg-grape-300 text-lg border border-grape-800 text-grape-800 rounded-xl"
                  />
                </div>
              </form>
            </div>
          </div>
        </Modal>
      </aside>
    </div>

    <footer
      class="mt-16 bg-grape-950 text-grape-200 w-full flex justify-center items-center"
    >
      <div
        class="footer-wrapper bg-grape-950 w-full max-w-7xl h-32 flex justify-between items-center text-sm font-semibold"
      >
        <div class="group p-6">
          <p>&copy; {currentYear} Swifly</p>
        </div>
        <p class="socials flex gap-4 p-6">
          <a
            class="border-b border-b-grape-950 hover:border-b-grape-300"
            href="https://X.com/me"
          >
            X</a
          >
          <a
            class="border-b border-b-grape-950 hover:border-b-grape-300"
            href="https://github.com/me"
          >
            GitHub</a
          >
          <a
            class="border-b border-b-grape-950 hover:border-b-grape-300"
            href="https://instagram.com/me"
          >
            Instagram</a
          >
        </p>
      </div>
    </footer>
  </body>
</html>

<style>
  main > section {
    margin: 24px 0px 24px 0px;
  }

  * {
    scrollbar-width: thin;
  }
</style>
