---
import Icon from "../components/Icon.astro";
import { Image } from "astro:assets";
import Calendar from "../components/Calendar.astro";
import Modal from "../components/Modal.astro";
import DashboardNav from "../components/DashboardNav.astro";
const currentYear = new Date().getFullYear();
import HeadDashboard from "../components/HeadDashboard.astro";
---

<html lang="es">
  <!-- head -->
  <HeadDashboard subtitle="Dashboard" />
  <body class="bg-gray-100">
    <!-- dashboard navigation bar -->
    <DashboardNav />
    <!-- page content -->
    <div
      class="content p-8 md:p-0 mt-24 w-full flex flex-col xl:flex-row gap-4 justify-center items-start"
    >
      <!-- main -->
      <main
        class="flex flex-col gap-2 justify-center items-start bg-white-200 p-10 rounded-lg bg-white border border-gray-300 shadow-sm w-full max-w-4xl"
      >
        <h2 class="text-grape-800 font-semibold text-2xl not-sr-only">
          Mis proyectos
        </h2>
        <hr class="h-px w-full text-gray-400 my-4" />
        <section
          class="my-projects flex flex-row justify-center items-center sm:justify-start flex-wrap basis-1/3 gap-2"
        >
          <div
            class="project rounded-xl h-32 w-64 border border-gray-500 bg-gray-200 hover:bg-opacity-85 flex flex-col items-center justify-start cursor-pointer"
          >
            <h5 class="font-semibold text-gray-600 p-2">Título de proyecto</h5>
            <div class="p-4 w-full"></div>
          </div>
        </section>
        <h2 class="text-grape-800 font-semibold text-2xl not-sr-only">
          Proyectos en los que estoy colaborando
        </h2>
        <hr class="h-px w-full text-gray-400 my-4" />
        <section
          class="collab-projects flex flex-row justify-center items-center sm:justify-start flex-wrap basis-1/3 gap-2"
        >
          <div
            class="project rounded-xl h-32 w-64 border border-gray-500 bg-gray-200 hover:bg-opacity-85 flex flex-col items-center justify-start cursor-pointer"
          >
            <h5 class="font-semibold text-gray-600 p-2">Título de proyecto</h5>
            <div class="p-4 w-full"></div>
          </div>
        </section>
        <!-- end main tag -->
      </main>
      <!-- aside -->
      <aside class="flex flex-col justify-center items-center">
        <section
          class="bg-white flex flex-col justify-center items-start p-12 w-full max-w-lg rounded-xl border border-gray-300"
        >
          <div
            class="chat-title w-full flex flex-row justify-between items-center text-grape-800"
          >
            <h2 class="text-grape-800 font-semibold text-2xl not-sr-only">
              Mensajes
            </h2>
            <div class="add-chat cursor-pointer p-1">
              <Modal
                extra="px-4 py-2 bg-grape-50 text-grape-800 border border-grape-700 rounded-lg"
                btn="plus"
                size="1.2em"
                title="Mandar un mensaje privado"
              >
                <div slot="children" class="w-full mt-4">
                  <form
                    action=""
                    method="post"
                    class="flex flex-col justify-center items-start w-full"
                  >
                    <div
                      class="inputs flex flex-col w-full gap-4 text-grape-950"
                    >
                      <label
                        for="search-user"
                        class="font-semibold text-leading"
                        >Buscar por nombre de usuario</label
                      >
                      <input
                        type="text"
                        name="search-user"
                        id="search-user"
                        class="px-8 py-2 rounded-lg bg-grape-100 border border-grape-200 shadow-inner"
                        placeholder="Nombre de usuario"
                      />
                      <input
                        type="submit"
                        value="Buscar"
                        aria-label="Buscar por nombre de usuario"
                        class="w-1/2 not-sr-only self-center mt-2 p-2 cursor-pointer hover:bg-grape-400 hover:text-grape-900 bg-grape-300 text-lg border border-grape-800 text-grape-800 rounded-xl"
                      />
                    </div>
                  </form>
                </div>
              </Modal>
            </div>
          </div>
          <hr class="h-px w-full text-gray-400 my-4 mb-4" />
          <div class="aside-wrapper w-full">
            <div class="chat-messages flex h-96 w-full">
              <div
                class="chat flex flex-col gap-2 justify-center items-center w-full overflow-auto"
              >
                <div
                  class="chat-section-wrapper flex flex-col justify-center w-full items-start hover:bg-gray-50 rounded-md cursor-pointer text-grape-950"
                >
                  <hr class="h-px w-full text-gray-400 my-2" />
                  <div
                    class="chat-user-wrapper w-full flex flex-row justify-between items-center gap-2"
                  >
                    <div
                      class="flex flex-row justify-center items-center gap-6"
                    >
                      <div
                        class="chat-pfp rounded-full size-10 bg-gray-300 overflow-hidden shadow-md border border-gray-300"
                      >
                        <Image
                          src="https://images.unsplash.com/photo-1544005313-94ddf0286df2?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8cG9ydHJhaXR8ZW58MHx8MHx8fDA%3D"
                          alt="Foto de perfil"
                          width="100"
                          height="100"
                          loading="eager"
                          class="object-cover size-full"
                        />
                      </div>
                      <h5 class="font-semibold text-sm">Usuario</h5>
                    </div>

                    <div
                      class="delete flex justify-self-end text-red-600 hover:text-red-700"
                      aria-label="Cerrar conversación"
                    >
                      <Icon icon="close" size="1em" />
                    </div>
                  </div>
                  <hr class="h-px w-full text-gray-400 my-2" />
                </div>
                <div
                  class="chat-section-wrapper flex flex-col justify-center w-full items-start hover:bg-gray-50 rounded-md cursor-pointer text-grape-950"
                >
                  <hr class="h-px w-full text-gray-400 my-2" />
                  <div
                    class="chat-user-wrapper w-full flex flex-row justify-between items-center gap-2"
                  >
                    <div
                      class="flex flex-row justify-center items-center gap-6"
                    >
                      <div
                        class="chat-pfp rounded-full size-10 bg-gray-300 overflow-hidden shadow-md border border-gray-300"
                      >
                        <Image
                          src="https://images.unsplash.com/photo-1523824921871-d6f1a15151f1?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                          alt="Foto de perfil"
                          width="100"
                          height="100"
                          loading="eager"
                          class="object-cover size-full"
                        />
                      </div>
                      <h5 class="font-semibold text-sm">Usuario</h5>
                    </div>

                    <div
                      class="delete flex justify-self-end text-red-600 hover:text-red-700"
                      aria-label="Cerrar conversación"
                    >
                      <Icon icon="close" size="1em" />
                    </div>
                  </div>
                  <hr class="h-px w-full text-gray-400 my-2" />
                </div>
                <div
                  class="chat-section-wrapper flex flex-col justify-center w-full items-start hover:bg-gray-50 rounded-md cursor-pointer text-grape-950"
                >
                  <hr class="h-px w-full text-gray-400 my-2" />
                  <div
                    class="chat-user-wrapper w-full flex flex-row justify-between items-center gap-2"
                  >
                    <div
                      class="flex flex-row justify-center items-center gap-6"
                    >
                      <div
                        class="chat-pfp rounded-full size-10 bg-gray-300 overflow-hidden shadow-md border border-gray-300"
                      >
                        <Image
                          src="https://images.unsplash.com/photo-1596075780750-81249df16d19?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                          alt="Foto de perfil"
                          width="100"
                          height="100"
                          loading="eager"
                          class="object-cover size-full"
                        />
                      </div>
                      <h5 class="font-semibold text-sm">Usuario</h5>
                    </div>

                    <div
                      class="delete flex justify-self-end text-red-600 hover:text-red-700"
                      aria-label="Cerrar conversación"
                    >
                      <Icon icon="close" size="1em" />
                    </div>
                  </div>
                  <hr class="h-px w-full text-gray-400 my-2" />
                </div>
                <div
                  class="chat-section-wrapper flex flex-col justify-center w-full items-start hover:bg-gray-50 rounded-md cursor-pointer text-grape-950"
                >
                  <hr class="h-px w-full text-gray-400 my-2" />
                  <div
                    class="chat-user-wrapper w-full flex flex-row justify-between items-center gap-2"
                  >
                    <div
                      class="flex flex-row justify-center items-center gap-6"
                    >
                      <div
                        class="chat-pfp rounded-full size-10 bg-gray-300 overflow-hidden shadow-md border border-gray-300"
                      >
                        <Image
                          src="https://images.unsplash.com/photo-1502823403499-6ccfcf4fb453?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                          alt="Foto de perfil"
                          width="100"
                          height="100"
                          loading="eager"
                          class="object-cover size-full"
                        />
                      </div>
                      <h5 class="font-semibold text-sm">Usuario</h5>
                    </div>
                    <div
                      class="delete flex justify-self-end text-red-600 hover:text-red-700"
                      aria-label="Cerrar conversación"
                    >
                      <Icon icon="close" size="1em" />
                    </div>
                  </div>
                  <hr class="h-px w-full text-gray-400 my-2" />
                </div>
                <div
                  class="chat-section-wrapper flex flex-col justify-center w-full items-start hover:bg-gray-50 rounded-md cursor-pointer text-grape-950"
                >
                  <hr class="h-px w-full text-gray-400 my-2" />
                  <div
                    class="chat-user-wrapper w-full flex flex-row justify-between items-center gap-2"
                  >
                    <div
                      class="flex flex-row justify-center items-center gap-6"
                    >
                      <div
                        class="chat-pfp rounded-full size-10 bg-gray-300 overflow-hidden shadow-md border border-gray-300"
                      >
                        <Image
                          src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                          alt="Foto de perfil"
                          width="100"
                          height="100"
                          loading="eager"
                          class="object-cover size-full"
                        />
                      </div>
                      <h5 class="font-semibold text-sm">Usuario</h5>
                    </div>
                    <div
                      class="delete flex justify-self-end text-red-600 hover:text-red-700"
                      aria-label="Cerrar conversación"
                    >
                      <Icon icon="close" size="1em" />
                    </div>
                  </div>
                  <hr class="h-px w-full text-gray-400 my-2" />
                </div>
              </div>
            </div>
            <hr class="h-px w-full text-gray-400 my-4" />
          </div>
        </section>
        <section
          class="calendar-wrapper border border-gray-300 rounded-xl bg-white my-4 p-8"
        >
          <h2 class="text-grape-800 not-sr-only font-semibold text-2xl">
            Calendario
          </h2>
          <hr class="h-px w-full text-gray-400 my-4" />
          <div class="calendar">
            <!-- calendar component -->
            <Calendar />
          </div>
        </section>
      </aside>
      <!-- end aside tag -->
    </div>

    <!-- footer -->
    <footer
      class="mt-16 bg-grape-950 text-grape-200 w-full flex justify-center items-center"
    >
      <div
        class="footer-wrapper bg-grape-950 w-full max-w-7xl h-32 flex justify-between items-center text-sm font-semibold"
      >
        <div class="group p-6">
          <p>&copy; {currentYear} Swifly</p>
        </div>
        <p class="socials flex gap-4 p-6">
          <a
            class="border-b border-b-grape-950 hover:border-b-grape-300"
            href="https://X.com/me"
          >
            X</a
          >
          <a
            class="border-b border-b-grape-950 hover:border-b-grape-300"
            href="https://github.com/me"
          >
            GitHub</a
          >
          <a
            class="border-b border-b-grape-950 hover:border-b-grape-300"
            href="https://instagram.com/me"
          >
            Instagram</a
          >
        </p>
      </div>
    </footer>
    <!-- end footer tag -->
    <style>
      main > section {
        margin: 24px 0px 24px 0px;
      }

      * {
        scrollbar-width: thin;
      }

      input {
        box-shadow: inset 0 2px 4px 0 rgb(0 0 0 / 0.05);
      }
    </style>
  </body><!--  styling that is easier to get done without tailwind or astro -->
</html>
