---
import Icon from "../components/Icon.astro";
import { Image } from "astro:assets";
import Calendar from "../components/Calendar.astro";
import Modal from "../components/Modal.astro";
import DashboardNav from "../components/DashboardNav.astro";
import HeadDashboard from "../components/HeadDashboard.astro";
import FooterDashboard from "@/components/FooterDashboard.astro";
import WrappedBreadcrumb from "@/components/ui/WrappedBreadcrumb";
import { BreadcrumbItem } from "@/components/ui/breadcrumb";
import { BreadcrumbLink } from "@/components/ui/breadcrumb";
import Events from "@/components/ui/Events";
import { Projects, eq, count, db } from "astro:db";
import TaskProgress from "@/components/ui/TaskProgress";

// sessions
const user = Astro.locals.user;
// if user is not authenticated, redirect to home
if (!user) {
  // throw new Error("User not authenticated");
  return Astro.redirect("/");
}

export const prerender = false;

const projectCount = await db
  .select({
    count: count(Projects.id),
  })
  .from(Projects)
  .where(eq(Projects.user_creator, user.id));

// console.log("projectCount", projectCount);
---

<html lang="es">
  <!-- head -->
  <HeadDashboard subtitle="Dashboard" />
  <body
    class="bg-gray-100 flex flex-col justify-center items-center w-full gap-4"
  >
    <!-- dashboard navigation bar -->
    <DashboardNav />
    <!-- page content -->
    <div class="md:p-0 flex flex-col gap-4 justify-center items-center w-full">
      <WrappedBreadcrumb href="/" name="Dashboard">
        <BreadcrumbItem>
          <div class="active">
            <BreadcrumbLink href="/my-projects">Mis proyectos</BreadcrumbLink>
          </div>
        </BreadcrumbItem>
      </WrappedBreadcrumb>
    </div>
    <div
      class="content p-8 md:p-0 w-full flex flex-col xl:flex-row gap-4 justify-between items-start max-w-7xl"
    >
      <!-- main -->
      <main
        class="w-full max-w-4xl flex flex-col gap-2 justify-start items-start bg-white-200 p-10 rounded-lg bg-white border border-gray-300 shadow-sm"
      >
        <h2
          class="font-light text-4xl not-sr-only flex flex-row justify-center items-center gap-2 p-4 rounded-xl"
        >
          隆Hola,<span class="font-medium text-plum-800">{user.username}</span>! <span
            class="text-2xl mt-1"></span
          >
        </h2>
        <hr class="h-px w-full text-gray-400 my-1" />
        <h4 class="text-base font-thin">Resumen de tu cuenta:</h4>
        <section
          class="w-full grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4"
        >
          <div
            class="w-full flex items-center justify-center bg-indigo-100 border border-indigo-300 rounded-xl px-4 py-2 text-indigo-700"
          >
            {
              projectCount.map((count) => (
                <p class="w-full">
                  Est谩s trabajando en {count.count} proyectos
                </p>
              ))
            }
          </div>
          <div
            class="w-full flex items-center justify-center bg-emerald-100 border border-emerald-300 rounded-xl px-4 py-2 text-emerald-700"
          >
            <p class="w-full">
              隆Genial!  Est谩s colaborando con otros usuarios en {
                Math.floor(Math.random() * 10)
              } proyectos
            </p>
          </div>
          <div
            class="w-full flex items-center justify-center bg-cyan-100 border border-cyan-300 rounded-xl px-4 py-2 text-cyan-700"
          >
            <p class="w-full">
              Tienes {Math.floor(Math.random() * 5)} invitaciones a proyectos pendientes
            </p>
          </div>
          <div
            class="w-full flex items-center justify-center bg-yellow-100 border border-yellow-300 rounded-xl px-4 py-2 text-yellow-700"
          >
            <p class="w-full">
              Tienes {Math.floor(Math.random() * 15)} mensajes privados sin leer
            </p>
          </div>
          <div
            class="w-full flex items-center justify-center bg-rose-100 border border-rose-300 rounded-xl px-4 py-2 text-rose-700"
          >
            <p class="w-full">
              Tienes {Math.floor(Math.random() * 8)} solicitudes de amistad pendientes
            </p>
          </div>
          <div
            class="w-full flex items-center justify-center bg-orange-100 border border-orange-300 rounded-xl px-4 py-2 text-orange-700"
          >
            <p class="w-full">
              Tienes {Math.floor(Math.random() * 20)} amigos conectados ahora mismo
            </p>
          </div>
        </section>
        <section
          class="calendar-wrapper w-full flex flex-col gap-4 justify-center items-start"
        >
          <h2 class="text-grape-800 not-sr-only font-semibold text-2xl">
            Calendario
          </h2>
          <hr class="h-px w-full text-gray-400 my-4 mb-4" />
          <div class="w-full max-w-sm mx-auto">
            <!-- calendar component -->
            <Calendar />
          </div>
        </section>
        <section
          class="bg-white flex flex-col justify-center items-start w-full"
        >
          <Events />
        </section>
        <!-- end main tag -->
      </main>
      <!-- aside -->
      <aside class="flex flex-col gap-4 w-full">
        <section
          class="bg-white flex flex-col justify-center items-start p-12 w-full rounded-xl border border-gray-300"
        >
          <div
            class="chat-title w-full flex flex-row justify-between items-center text-grape-800"
          >
            <h2 class="text-grape-800 font-semibold text-2xl not-sr-only">
              Mensajes
            </h2>
            <div class="add-chat cursor-pointer">
              <Modal
                extra="px-4 py-2 bg-grape-50 text-grape-800 border border-grape-700 rounded-lg"
                btn="plus"
                size="1.2em"
                title="Mandar un mensaje privado"
              >
                <div slot="children" class="w-full mt-4">
                  <form
                    action=""
                    method="post"
                    class="flex flex-col justify-center items-start w-full"
                  >
                    <div
                      class="inputs flex flex-col w-full gap-4 text-grape-950"
                    >
                      <label
                        for="search-user"
                        class="font-semibold text-leading"
                        >Buscar por nombre de usuario</label
                      >
                      <input
                        type="text"
                        name="search-user"
                        id="search-user"
                        class="px-8 py-2 rounded-lg bg-grape-100 border border-grape-200 shadow-inner"
                        placeholder="Nombre de usuario"
                      />
                      <input
                        type="submit"
                        value="Buscar"
                        aria-label="Buscar por nombre de usuario"
                        class="w-1/2 not-sr-only self-center mt-2 p-2 cursor-pointer hover:bg-grape-400 hover:text-grape-900 bg-grape-300 text-lg border border-grape-800 text-grape-800 rounded-xl"
                      />
                    </div>
                  </form>
                </div>
              </Modal>
            </div>
          </div>
          <hr class="h-px w-full text-gray-400 my-4 mb-4" />
          <div class="aside-wrapper w-full">
            <div class="chat-messages flex h-96 w-full">
              <div
                class="chat flex flex-col justify-start items-center w-full overflow-auto divide-y divide-gray-200"
              >
                <div
                  class="chat-section-wrapper p-2 flex flex-col justify-center w-full items-start hover:bg-gray-50 cursor-pointer text-grape-950"
                >
                  <div
                    class="chat-user-wrapper w-full flex flex-row justify-between items-center gap-2"
                  >
                    <div
                      class="flex flex-row justify-center items-center gap-6"
                    >
                      <div
                        class="chat-pfp rounded-full size-10 bg-gray-300 overflow-hidden shadow-md border border-gray-300"
                      >
                        <Image
                          src="https://images.unsplash.com/photo-1544005313-94ddf0286df2?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8cG9ydHJhaXR8ZW58MHx8MHx8fDA%3D"
                          alt="Foto de perfil"
                          width="100"
                          height="100"
                          loading="eager"
                          class="object-cover size-full"
                        />
                      </div>
                      <h5 class="font-semibold text-sm">Usuario</h5>
                    </div>

                    <div
                      class="delete flex justify-self-end text-red-600 hover:text-red-700"
                      aria-label="Cerrar conversaci贸n"
                    >
                      <Icon icon="close" size="1em" />
                    </div>
                  </div>
                </div>
                <div
                  class="chat-section-wrapper p-2 flex flex-col justify-center w-full items-start hover:bg-gray-50 cursor-pointer text-grape-950"
                >
                  <div
                    class="chat-user-wrapper w-full flex flex-row justify-between items-center gap-2"
                  >
                    <div
                      class="flex flex-row justify-center items-center gap-6"
                    >
                      <div
                        class="chat-pfp rounded-full size-10 bg-gray-300 overflow-hidden shadow-md border border-gray-300"
                      >
                        <Image
                          src="https://images.unsplash.com/photo-1523824921871-d6f1a15151f1?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                          alt="Foto de perfil"
                          width="100"
                          height="100"
                          loading="eager"
                          class="object-cover size-full"
                        />
                      </div>
                      <h5 class="font-semibold text-sm">Usuario</h5>
                    </div>

                    <div
                      class="delete flex justify-self-end text-red-600 hover:text-red-700"
                      aria-label="Cerrar conversaci贸n"
                    >
                      <Icon icon="close" size="1em" />
                    </div>
                  </div>
                </div>
                <div
                  class="chat-section-wrapper p-2 flex flex-col justify-center w-full items-start hover:bg-gray-50 cursor-pointer text-grape-950"
                >
                  <div
                    class="chat-user-wrapper w-full flex flex-row justify-between items-center gap-2"
                  >
                    <div
                      class="flex flex-row justify-center items-center gap-6"
                    >
                      <div
                        class="chat-pfp rounded-full size-10 bg-gray-300 overflow-hidden shadow-md border border-gray-300"
                      >
                        <Image
                          src="https://images.unsplash.com/photo-1596075780750-81249df16d19?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                          alt="Foto de perfil"
                          width="100"
                          height="100"
                          loading="eager"
                          class="object-cover size-full"
                        />
                      </div>
                      <h5 class="font-semibold text-sm">Usuario</h5>
                    </div>

                    <div
                      class="delete flex justify-self-end text-red-600 hover:text-red-700"
                      aria-label="Cerrar conversaci贸n"
                    >
                      <Icon icon="close" size="1em" />
                    </div>
                  </div>
                </div>
                <div
                  class="chat-section-wrapper p-2 flex flex-col justify-center w-full items-start hover:bg-gray-50 cursor-pointer text-grape-950"
                >
                  <div
                    class="chat-user-wrapper w-full flex flex-row justify-between items-center gap-2"
                  >
                    <div
                      class="flex flex-row justify-center items-center gap-6"
                    >
                      <div
                        class="chat-pfp rounded-full size-10 bg-gray-300 overflow-hidden shadow-md border border-gray-300"
                      >
                        <Image
                          src="https://images.unsplash.com/photo-1502823403499-6ccfcf4fb453?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                          alt="Foto de perfil"
                          width="100"
                          height="100"
                          loading="eager"
                          class="object-cover size-full"
                        />
                      </div>
                      <h5 class="font-semibold text-sm">Usuario</h5>
                    </div>
                    <div
                      class="delete flex justify-self-end text-red-600 hover:text-red-700"
                      aria-label="Cerrar conversaci贸n"
                    >
                      <Icon icon="close" size="1em" />
                    </div>
                  </div>
                </div>
                <div
                  class="chat-section-wrapper p-2 flex flex-col justify-center w-full items-start hover:bg-gray-50 cursor-pointer text-grape-950"
                >
                  <div
                    class="chat-user-wrapper w-full flex flex-row justify-between items-center gap-2"
                  >
                    <div
                      class="flex flex-row justify-center items-center gap-6"
                    >
                      <div
                        class="chat-pfp rounded-full size-10 bg-gray-300 overflow-hidden shadow-md border border-gray-300"
                      >
                        <Image
                          src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                          alt="Foto de perfil"
                          width="100"
                          height="100"
                          loading="eager"
                          class="object-cover size-full"
                        />
                      </div>
                      <h5 class="font-semibold text-sm">Usuario</h5>
                    </div>
                    <div
                      class="delete flex justify-self-end text-red-600 hover:text-red-700"
                      aria-label="Cerrar conversaci贸n"
                    >
                      <Icon icon="close" size="1em" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section
          class="bg-white flex flex-col justify-center items-start p-12 w-full rounded-xl border border-gray-300 gap-4"
        >
          <h4 class="font-thin text-2xl">Tu progreso</h4>
          <hr class="h-px w-full text-gray-400 my-1" />
          <TaskProgress />
        </section>
      </aside>
      <!-- end aside tag -->
    </div>

    <!-- footer -->
    <FooterDashboard />
    <!-- end footer tag -->
    <style>
      main > section {
        margin: 24px 0px 24px 0px;
      }

      * {
        scrollbar-width: thin;
      }

      input {
        box-shadow: inset 0 2px 4px 0 rgb(0 0 0 / 0.05);
      }
    </style>
  </body>
</html>
