---
// Layout import — provides basic page elements: <head>, <nav>, <footer> etc.
import BaseLayout from "../layouts/BaseLayout.astro";

// Component Imports
import CallToAction from "../components/CallToAction.astro";
import Grid from "../components/Grid.astro";
import Hero from "../components/Hero.astro";
import Icon from "../components/Icon.astro";

// Page section components
import ContactCTA from "../components/ContactCTA.astro";
import Skills from "../components/Skills.astro";

const user = Astro.locals.user;
console.log(user); // see session username
---

<BaseLayout>
  <div class="stack lg:gap-48">
    <div class="wrapper stack gap-8 lg:gap-20 mb-12">
      <header class="hero flex flex-col w-full items-center justify-center">
        <Hero
          title="Organiza, gestiona, colabora."
          tagline="El espacio de trabajo todo en uno para ti y tu equipo."
          align="start"
        />
        <div class="cta">
          <CallToAction href="/login/">Comienza ahora</CallToAction>
        </div>
      </header>

      <Skills />
    </div>

    <main class="wrapper stack gap-20 lg:gap-48 mb-12">
      <section class="section grid gap-8 lg:gap-20">
        <header
          class="section-header justify-self-center text-center max-w-50ch text-md lg:text-lg text-gray-300"
        >
          <h3 class="text-2xl lg:text-4xl mb-8">Características</h3>
          <p>
            Todos los puntos que hacen que Swifly destaque como aplicación de
            gestión de proyectos colaborativos.
          </p>
        </header>

        <div class="gallery grid gap-8 lg:gap-20">
          <Grid variant="small">
            {
              [
                "Tus proyectos como unidad principal de trabajo",
                "Crea, edita y elimina a tu gusto desde el módulo de administración",
                "Ten el control en todo momento con un historial de cambios en tu proyecto",
                "Puedes tener conversaciones a través de chats privados con otros usuarios",
                "Invita a otros usuarios a colaborar contigo",
              ].map((brand) => (
                <li class="mention-card flex justify-center items-center text-center border border-gray-800 rounded bg-gradient-subtle shadow-sm p-2 hover:opacity-80 cursor-pointer">
                  <p>{brand}</p>
                </li>
              ))
            }
          </Grid>
        </div>
      </section>

      <section class="section with-background">
        <header class="section-header stack gap-2 lg:gap-4">
          <h3 class="mb-12">Nuestra misión</h3>
          <p>
            En Swifly tenemos una pasión por construir una comunidad sana para
            todo el mundo. Podrás conectar con tus amigos, compañeros de trabajo
            y usuarios en una comunidad segura y hecha a medida.
          </p>
          <div class="cta mt-12">
            <CallToAction href="/work/">
              Sobre Nosotros
              <Icon icon="arrow-right" size="1em" />
            </CallToAction>
          </div>
        </header>
      </section>

      <ContactCTA />
    </main>
  </div>

  <style>
    .hero {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2rem;
    }

    .roles {
      display: none;
    }

    .hero img {
      aspect-ratio: 5 / 4;
      object-fit: cover;
      object-position: top;
      border-radius: 1.5rem;
      box-shadow: var(--shadow-md);
    }

    @media (min-width: 50em) {
      .hero {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .roles {
        margin-top: 0.5rem;
        display: flex;
        gap: 0.5rem;
      }

      .hero img {
        aspect-ratio: 3 / 4;
        border-radius: 4.5rem;
        object-fit: cover;
      }
    }

    /* ====================================================== */

    .section {
      display: grid;
      gap: 2rem;
    }

    .with-background {
      position: relative;
    }

    .with-background::before {
      --hero-bg: var(--bg-image-subtle-2);

      content: "";
      position: absolute;
      pointer-events: none;
      left: 50%;
      width: 100vw;
      aspect-ratio: calc(2.25 / var(--bg-scale));
      top: 0;
      transform: translateY(-75%) translateX(-50%);
      background:
        url("/assets/backgrounds/noise.png") top center/220px repeat,
        var(--hero-bg) center center / var(--bg-gradient-size) no-repeat,
        var(--gray-999);
      background-blend-mode: overlay, normal, normal, normal;
      mix-blend-mode: var(--bg-blend-mode);
      z-index: -1;
    }

    .with-background.bg-variant::before {
      --hero-bg: var(--bg-image-subtle-1);
    }

    .section-header {
      justify-self: center;
      text-align: center;
      max-width: 50ch;
      font-size: var(--text-md);
      color: var(--gray-300);
    }

    .section-header h3 {
      font-size: var(--text-2xl);
    }

    @media (min-width: 50em) {
      .section {
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas: "header header header header" "gallery gallery gallery gallery";
        gap: 5rem;
      }

      .section.with-cta {
        grid-template-areas: "header header header cta" "gallery gallery gallery gallery";
      }

      .section-header {
        grid-area: header;
        font-size: var(--text-lg);
      }

      .section-header h3 {
        font-size: var(--text-4xl);
      }

      .with-cta .section-header {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
      }

      .gallery {
        grid-area: gallery;
      }

      .cta {
        grid-area: cta;
      }
    }

    /* ====================================================== */

    .mention-card {
      display: flex;
      height: 10.5rem;
      justify-content: center;
      align-items: center;
      text-align: center;
      border: 1px solid var(--gray-800);
      border-radius: 1.5rem;
      color: var(--gray-300);
      background: var(--gradient-subtle);
      box-shadow: var(--shadow-sm);
      padding: 8px;
    }

    @media (min-width: 50em) {
      .mention-card {
        border-radius: 1.5rem;
        height: 9.5rem;
      }
    }
  </style>
</BaseLayout>
