---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/Hero.astro";
import LogBox from "../components/Login.astro";

export const prerender = true;
---

<BaseLayout
  title="Iniciar sesión | Swifly"
  description="Inicia sesión o regístrate en Swifly"
>
  <div class="stack gap-20">
    <main class="wrapper stack gap-8">
      <Hero
        title="Inicia sesión"
        tagline="O regístrate si no tienes una cuenta"
        align="start"
      />
      <div class="flex justify-center">
        <LogBox />
      </div>
    </main>
  </div>
</BaseLayout>
