---
import { getProjectListByUserId } from "@/lib/services/ProjectListService";
import { getProjectById } from "@/lib/services/ProjectService";

export const prerender = false;

const user = Astro.locals.user;
if (!user) {
  return Astro.redirect("/");
}

const projects = await getProjectListByUserId(user.id);
---

<div>
<!-- projects: {JSON.stringify(data)} -->
  <h1>Projects</h1>
  <ul>
    {projects.map((project) => (
      <li>
        <a>{project.title}</a>
        <p>{(async () => JSON.stringify(await getProjectById(project.id)))()}</p>
      </li>
    ))}
  </ul>
  <a href="/new-project">New Project</a>
</div>
