---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/Hero.astro";
import Icon from "@/components/Icon.astro";
---

<BaseLayout
  title="Política de privacidad | Swifly"
  description="Mensaje informativo de Swifly para el usuario"
>
  <div class="stack gap-20">
    <main class="wrapper stack gap-8">
      <Hero title="" tagline="" />
      <div class="flex justify-center">
        <section
          class="box input flex flex-col justify-center items-start gap-12 h-fit rounded-none w-full max-w-6xl"
        >
          <div>
            <div class="section-title">POLÍTICA DE PRIVACIDAD</div>
            <div class="mb-8 text-sm">
              <strong>Last updated May 24, 2024 </strong>
            </div>
            Este aviso de privacidad para la aplicación Swifly ('nosotros', 'nos'
            o 'nuestro'), describe cómo y por qué podríamos recopilar, almacenar,
            usar y/o compartir ('procesar') tu información cuando utilizas nuestros
            servicios ('Servicios'), como cuando:

            <div class="flex flex-col gap-4">
              <div>
                Visitas nuestro sitio web en <a href="https://www.swifly.app"
                  >https://www.swifly.app</a
                >, o cualquier sitio web nuestro que enlace a este aviso de
                privacidad Interactúas con nosotros de otras maneras
                relacionadas, incluyendo cualquier venta, marketing o eventos.
              </div>
              <div>
                ¿Preguntas o preocupaciones? Leer este aviso de privacidad te
                ayudará a entender tus derechos y opciones de privacidad. <strong
                >
                  Si no estás de acuerdo con nuestras políticas y prácticas, por
                  favor, no utilices nuestros Servicios.
                </strong>
              </div>
            </div>
          </div>

          <div>
            <div class="section-title">RESUMEN DE PUNTOS CLAVE</div>
            <div class="divide-y divide-gray-200 divide-opacity-40">
              <details>
                <summary
                  ><span>¿Qué información personal procesamos?</span><Icon
                    icon="down"
                    size="1.2em"
                  /></summary
                >
                <div>
                  Cuando visitas, usas o navegas por nuestros Servicios, podemos
                  procesar información personal dependiendo de cómo interactúes
                  con nosotros y los Servicios, las opciones que hagas y los
                  productos y características que uses. <strong
                    >Obtén más información sobre la información personal que nos
                    proporcionas.</strong
                  >
                </div>
              </details>
              <details>
                <summary
                  ><span>¿Procesamos alguna información personal sensible?</span
                  >
                  <Icon icon="down" size="1.2em" /></summary
                >
                <div>No procesamos información personal sensible.</div>
              </details>
              <details>
                <summary
                  ><span>¿Recopilamos información de terceros?</span>
                  <Icon icon="down" size="1.2em" /></summary
                >
                <div>No recopilamos información de terceros.</div>
              </details>
              <details>
                <summary
                  ><span>¿Cómo procesamos tu información?</span><Icon
                    icon="down"
                    size="1.2em"
                  /></summary
                >
                <div>
                  Procesamos tu información para proporcionar, mejorar y
                  administrar nuestros Servicios, comunicarnos contigo, para
                  seguridad y prevención de fraudes, y para cumplir con la ley.
                  También podemos procesar tu información para otros fines con
                  tu consentimiento. Procesamos tu información solo cuando
                  tengamos una razón legal válida para hacerlo. Obtén más
                  información sobre cómo procesamos tu información.
                </div>
              </details>
              <details>
                <summary
                  ><span>
                    ¿En qué situaciones y con qué partes compartimos información
                    personal?</span
                  ><Icon icon="down" size="1.2em" /></summary
                >
                <div>
                  Podemos compartir información en situaciones específicas y con
                  terceros específicos. Obtén más información sobre cuándo y con
                  quién compartimos tu información personal.
                </div>
              </details>
              <details>
                <summary
                  ><span>¿Cómo mantenemos segura tu información?</span><Icon
                    icon="down"
                    size="1.2em"
                  /></summary
                >
                <div>
                  Tenemos procesos y procedimientos organizativos y técnicos
                  para proteger tu información personal. Sin embargo, ninguna
                  transmisión electrónica a través de Internet o tecnología de
                  almacenamiento de información puede garantizarse al 100%
                  segura, por lo que no podemos prometer o garantizar que los
                  hackers, ciberdelincuentes u otras terceras partes no
                  autorizadas no puedan vencer nuestra seguridad y recopilar,
                  acceder, robar o modificar tu información de manera
                  inapropiada. <strong
                    >Obtén más información sobre cómo mantenemos segura tu
                    información.</strong
                  >
                </div>
              </details>
              <details>
                <summary
                  ><span>¿Cuáles son tus derechos?</span><Icon
                    icon="down"
                    size="1.2em"
                  /></summary
                >
                <div>
                  Dependiendo de tu ubicación geográfica, la ley de privacidad
                  aplicable puede significar que tienes ciertos derechos
                  respecto a tu información personal. Obtén más información
                  sobre tus derechos de privacidad.
                </div>
              </details>
              <details>
                <summary
                  ><span>Cómo ejerces tus derechos?</span><Icon
                    icon="down"
                    size="1.2em"
                  /></summary
                >
                <div>
                  La forma más fácil de ejercer tus derechos es visitando
                  http://www.swifly.app/settings, o contactándonos.
                  Consideraremos y actuaremos sobre cualquier solicitud de
                  acuerdo con las leyes de protección de datos aplicables.
                </div>
              </details>
              <details>
                <summary
                  ><span
                    >¿Quieres aprender más sobre qué hacemos con cualquier
                    información que recopilamos?</span
                  ><Icon icon="down" size="1.2em" /></summary
                >
                <div>Revisa el aviso de privacidad completo.</div>
              </details>
            </div>

            <div>
              <div class="section-title">TABLA DE CONTENIDOS</div>
              <ul class="list-disc ml-4 flex flex-col gap-2 text-purple-500">
                <li>¿QUÉ INFORMACIÓN RECOPILAMOS?</li>
                <li>¿CÓMO PROCESAMOS TU INFORMACIÓN?</li>
                <li>
                  ¿EN QUÉ BASES LEGALES NOS APOYAMOS PARA PROCESAR TU
                  INFORMACIÓN PERSONAL?
                </li>
                <li>
                  ¿CUÁNDO Y CON QUIÉN COMPARTIMOS TU INFORMACIÓN PERSONAL?
                </li>
                <li>¿UTILIZAMOS COOKIES Y OTRAS TECNOLOGÍAS DE SEGUIMIENTO?</li>
                <li>
                  ¿CÓMO MANEJAMOS TUS INICIOS DE SESIÓN EN REDES SOCIALES?
                </li>
                <li>¿CUÁNTO TIEMPO CONSERVAMOS TU INFORMACIÓN?</li>
                <li>¿CÓMO MANTENEMOS SEGURA TU INFORMACIÓN?</li>
                <li>¿CUÁLES SON TUS DERECHOS DE PRIVACIDAD?</li>
                <li>CONTROLES PARA FUNCIONES DE NO RASTREO</li>
                <li>¿ACTUALIZAMOS ESTE AVISO?</li>
                <li>¿CÓMO PUEDES CONTACTARNOS SOBRE ESTE AVISO?</li>
                <li>
                  ¿CÓMO PUEDES REVISAR, ACTUALIZAR O ELIMINAR LOS DATOS QUE
                  RECOPILAMOS DE TI?
                </li>
              </ul>
            </div>
            <div class="numbered">
              <div class="section-title">1. ¿QUÉ INFORMACIÓN RECOPILAMOS?</div>
              <span
                >En resumen: Recopilamos información personal que nos
                proporcionas.</span
              >
              <div>
                Recopilamos información personal que nos proporcionas
                voluntariamente cuando te registras en los Servicios, expresas
                interés en obtener información sobre nosotros o nuestros
                productos y Servicios, cuando participas en actividades en los
                Servicios o cuando te pones en contacto con nosotros.
              </div>
              <div>
                La información personal que recopilamos depende del contexto de
                tus interacciones con nosotros y los Servicios, las opciones que
                elijas y los productos y características que uses. La
                información personal que recopilamos puede incluir lo siguiente:
                <ul class="list-disc mx-12 my-6">
                  <li>Direcciones de correo electrónico</li>
                  <li>Nombres de usuario</li>
                  <li>Contraseñas</li>
                  <li>Datos de contacto o autenticación</li>
                </ul>
                <strong
                  >Información sensible: No procesamos información sensible.</strong
                >
              </div>
              <div>
                Datos de inicio de sesión en redes sociales: <br /><br /> Podemos
                ofrecerte la opción de registrarte con nosotros utilizando los detalles
                de tu cuenta de redes sociales existente, como tu cuenta de Facebook,
                X u otra cuenta de redes sociales. Si eliges registrarte de esta
                manera, recopilaremos cierta información de perfil sobre ti del proveedor
                de redes sociales, como se describe en la sección llamada '¿CÓMO
                MANEJAMOS TUS INICIOS DE SESIÓN EN REDES SOCIALES?' a continuación.
                Toda la información personal que nos proporciones debe ser verdadera,
                completa y precisa, y debes notificarnos cualquier cambio en dicha
                información personal.
              </div>
            </div>

            <div class="numbered">
              <div class="section-title">
                2. ¿CÓMO PROCESAMOS TU INFORMACIÓN?
              </div>
              <div>
                En resumen: Procesamos tu información para proporcionar, mejorar
                y administrar nuestros Servicios, comunicarnos contigo, para
                seguridad y prevención de fraudes, y para cumplir con la ley.
                También podemos procesar tu información para otros fines con tu
                consentimiento.
              </div>
              <div>
                Procesamos tu información personal por una variedad de razones,
                dependiendo de cómo interactúes con nuestros Servicios,
                incluyendo:
                <ul class="list-disc mx-12 my-6 flex flex-col gap-2">
                  <li>
                    Para facilitar la creación y autenticación de cuentas y, de
                    otro modo, gestionar las cuentas de los usuarios. Podemos
                    procesar tu información para que puedas crear e iniciar
                    sesión en tu cuenta, así como mantener tu cuenta en
                    funcionamiento.
                  </li>
                  <li>
                    Para salvar o proteger el interés vital de un individuo.
                    Podemos procesar tu información cuando sea necesario para
                    salvar o proteger el interés vital de un individuo, como
                    para prevenir daños.
                  </li>
                </ul>
              </div>
            </div>

            <div class="numbered">
              <div class="section-title">
                3. ¿EN QUÉ BASES LEGALES NOS APOYAMOS PARA PROCESAR TU
                INFORMACIÓN?
              </div>
              <div>
                En resumen: Solo procesamos tu información personal cuando
                creemos que es necesario y tenemos una razón legal válida (es
                decir, base legal) para hacerlo según la ley aplicable, como con
                tu consentimiento, para cumplir con las leyes, para
                proporcionarte servicios, para cumplir con nuestras obligaciones
                contractuales, para proteger tus derechos o para cumplir con
                nuestros intereses comerciales legítimos.
              </div>
              <div>
                <em>El Reglamento General de Protección de Datos (GDPR)</em> y el
                <em>GDPR del Reino Unido</em> requieren que expliquemos las bases
                legales válidas en las que nos apoyamos para procesar tu información
                personal. Por lo tanto, podemos basarnos en las siguientes bases
                legales para procesar tu información personal:
                <ul class="list-disc flex flex-col gap-2 mx-12 my-6">
                  <li>
                    <strong>Consentimiento.</strong> Podemos procesar tu información
                    si nos has dado permiso (es decir, consentimiento) para usar
                    tu información personal para un propósito específico. Puedes
                    retirar tu consentimiento en cualquier momento. Obtén más información
                    sobre cómo retirar tu consentimiento.
                  </li>
                  <li>
                    <strong>Obligaciones legales.</strong> Podemos procesar tu información
                    cuando creemos que es necesario para cumplir con nuestras obligaciones
                    legales, como cooperar con un cuerpo de aplicación de la ley
                    o una agencia reguladora, ejercer o defender nuestros derechos
                    legales, o divulgar tu información como evidencia en un litigio
                    en el que estemos involucrados.
                  </li>
                  <li>
                    <strong>Intereses vitales.</strong> Podemos procesar tu información
                    cuando creemos que es necesario para proteger tus intereses vitales
                    o los intereses vitales de un tercero, como en situaciones que
                    involucren posibles amenazas a la seguridad de cualquier persona.
                  </li>
                </ul>
              </div>
            </div>
            <div class="numbered">
              <div class="section-title">
                4. ¿CUÁNDO Y CON QUIÉN COMPARTIMOS TU INFORMACIÓN PERSONAL?
              </div>
              <div>
                En resumen: Podemos compartir información en situaciones
                específicas descritas en esta sección y/o con los siguientes
                terceros.
              </div>
              <div>
                Podemos necesitar compartir tu información personal en las
                siguientes situaciones:
                <ul class="list-disc my-6 mx-12 flex flex-col gap-2">
                  <li>
                    <strong> Transferencias comerciales.</strong> Podemos compartir
                    o transferir tu información en relación con, o durante las negociaciones
                    de, cualquier fusión, venta de activos de la empresa, financiamiento
                    o adquisición de la totalidad o una parte de nuestro negocio
                    a otra empresa.
                  </li>
                </ul>
              </div>
              <div class="numbered">
                <div class="section-title">
                  5. ¿USAMOS COOKIES Y OTRAS TECNOLOGÍAS DE SEGUIMIENTO?
                </div>
                <div>
                  En resumen: Podemos usar cookies y otras tecnologías de
                  seguimiento para recopilar y almacenar tu información.
                </div>
                <div>
                  Podemos utilizar cookies y tecnologías de seguimiento
                  similares (como balizas web y píxeles) para recopilar
                  información cuando interactúas con nuestros Servicios. Algunas
                  tecnologías de seguimiento en línea nos ayudan a mantener la
                  seguridad de nuestros Servicios y tu cuenta, prevenir fallos,
                  corregir errores, guardar tus preferencias y asistir con
                  funciones básicas del sitio.
                </div>
                <div>
                  También permitimos que terceros y proveedores de servicios
                  utilicen tecnologías de seguimiento en línea en nuestros
                  Servicios para análisis y publicidad, incluyendo la gestión y
                  visualización de anuncios, adaptar anuncios a tus intereses o
                  enviar recordatorios de carritos de compra abandonados
                  (dependiendo de tus preferencias de comunicación). Los
                  terceros y proveedores de servicios utilizan su tecnología
                  para ofrecer publicidad sobre productos y servicios adaptados
                  a tus intereses, que pueden aparecer tanto en nuestros
                  Servicios como en otros sitios web.
                </div>
                <strong>
                  Información específica sobre cómo usamos dichas tecnologías y
                  cómo puedes rechazar ciertas cookies se detalla en nuestro
                  Aviso de Cookies: <a href="https://www.swifly.app/cookies"
                    >https://www.swifly.app/cookies</a
                  >
                </strong>
              </div>

              <div class="numbered">
                <div class="section-title">
                  6. ¿CÓMO MANEJAMOS TUS INICIOS DE SESIÓN EN REDES SOCIALES?
                </div>
                <div>
                  En resumen: Si eliges registrarte o iniciar sesión en nuestros
                  Servicios usando una cuenta de redes sociales, es posible que
                  tengamos acceso a cierta información sobre ti.
                </div>
                <div>
                  Nuestros Servicios te ofrecen la posibilidad de registrarte e
                  iniciar sesión usando los detalles de tu cuenta de redes
                  sociales de terceros (como tus inicios de sesión de Facebook o
                  X). Si decides hacerlo, recibiremos cierta información de tu
                  perfil de parte del proveedor de redes sociales.
                </div>
                <div>
                  La información del perfil que recibimos puede variar según el
                  proveedor de redes sociales en cuestión, pero a menudo
                  incluirá tu nombre, dirección de correo electrónico, lista de
                  amigos y foto de perfil, así como otra información que decidas
                  hacer pública en dicha plataforma de redes sociales.
                  Utilizaremos la información que recibimos solo para los fines
                  que se describen en este aviso de privacidad o que se te
                  indiquen claramente en los Servicios correspondientes.
                </div>
                <div>
                  Ten en cuenta que no controlamos ni somos responsables de
                  otros usos de tu información personal por parte de tu
                  proveedor de redes sociales de terceros. Te recomendamos que
                  revises su aviso de privacidad para comprender cómo recopilan,
                  usan y comparten tu información personal, y cómo puedes
                  configurar tus preferencias de privacidad en sus sitios y
                  aplicaciones.
                </div>
              </div>

              <div class="numbered">
                <div class="section-title">
                  7. ¿CUÁNTO TIEMPO CONSERVAMOS TU INFORMACIÓN?
                </div>
                <div>
                  En resumen: Conservamos tu información durante el tiempo
                  necesario para cumplir con los propósitos descritos en este
                  aviso de privacidad, a menos que la ley exija lo contrario.
                </div>
                <div>
                  Solo conservaremos tu información personal durante el tiempo
                  que sea necesario para los fines establecidos en este aviso de
                  privacidad, a menos que se requiera o permita un período de
                  retención más prolongado por ley (como requisitos fiscales,
                  contables u otros requisitos legales). Ningún propósito en
                  este aviso nos obligará a conservar tu información personal
                  por más de un (1) mes después de la terminación de la cuenta
                  del usuario.
                </div>
                <div>
                  Cuando ya no tengamos una necesidad comercial legítima para
                  procesar tu información personal, la eliminaremos o
                  anonimizaremos, o, si esto no es posible (por ejemplo, porque
                  tu información personal ha sido almacenada en archivos de
                  respaldo), entonces almacenaremos de manera segura tu
                  información personal y la aislaremos de cualquier
                  procesamiento posterior hasta que sea posible eliminarla.
                </div>
              </div>

              <div class="numbered">
                <div class="section-title">
                  8. ¿CÓMO MANTENEMOS SEGURA TU INFORMACIÓN?
                </div>
                <div>
                  En resumen: Nos esforzamos por proteger tu información
                  personal a través de un sistema de medidas de seguridad
                  organizativas y técnicas.
                </div>
                <div>
                  Hemos implementado medidas de seguridad técnicas y
                  organizativas adecuadas y razonables diseñadas para proteger
                  la seguridad de cualquier información personal que procesemos.
                  Sin embargo, a pesar de nuestras salvaguardias y esfuerzos por
                  asegurar tu información, ninguna transmisión electrónica a
                  través de Internet o tecnología de almacenamiento de
                  información puede garantizarse al 100% segura, por lo que no
                  podemos prometer o garantizar que los hackers,
                  ciberdelincuentes u otras terceras partes no autorizadas no
                  puedan vencer nuestra seguridad y recopilar, acceder, robar o
                  modificar tu información de manera inapropiada.
                </div>
                <div>
                  Aunque haremos nuestro mejor esfuerzo para proteger tu
                  información personal, la transmisión de información personal
                  hacia y desde nuestros Servicios se realiza bajo tu propio
                  riesgo. Deberías acceder a los Servicios solo dentro de un
                  entorno seguro.
                </div>
              </div>

              <div class="numbered">
                <div class="section-title">
                  9. ¿CUÁLES SON TUS DERECHOS DE PRIVACIDAD?
                </div>
                <div>
                  En resumen: En algunas regiones, como el <em
                    >Área Económica Europea (EEA)</em
                  >, <em>Reino Unido (UK)</em> y <em>Suiza</em>, tienes derechos
                  que te permiten un mayor acceso y control sobre tu información
                  personal.
                </div>
                <div>
                  En ciertas circunstancias, también puedes tener derecho a
                  oponerte al procesamiento de tu información personal. <br /> Puedes
                  hacer tal solicitud contactándonos utilizando los detalles de contacto
                  proporcionados en la sección '¿CÓMO PUEDES CONTACTARNOS SOBRE ESTE
                  AVISO?' a continuación.
                </div>
                <em
                  >Consideraremos y actuaremos sobre cualquier solicitud de
                  acuerdo con las leyes de protección de datos aplicables.</em
                >
                <div>
                  Si estás ubicado en el EEA o UK y crees que estamos procesando
                  tu información personal de manera ilegal, también tienes
                  derecho a presentar una queja ante la autoridad de protección
                  de datos de tu Estado miembro o la autoridad de protección de
                  datos del Reino Unido.
                </div>
                <div>
                  Retirada de tu consentimiento: Si estamos confiando en tu
                  consentimiento para procesar tu información personal, tienes
                  derecho a retirar tu consentimiento en cualquier momento. <br
                  />
                  Puedes retirar tu consentimiento en cualquier momento contactándonos
                  utilizando los detalles de contacto proporcionados en la sección
                  '¿CÓMO PUEDES CONTACTARNOS SOBRE ESTE AVISO?' a continuación.
                </div>
                <div>
                  Sin embargo, ten en cuenta que esto no afectará la legalidad
                  del procesamiento antes de su retirada ni afectará el
                  procesamiento de tu información personal realizado en base a
                  fundamentos de procesamiento legales distintos al
                  consentimiento.
                </div>
                <div>
                  <strong>Información de la cuenta</strong>
                  <div>
                    Si en algún momento deseas revisar o cambiar la información
                    de tu cuenta o terminar tu cuenta, puedes:
                    <ul class="list-disc mx-12 my-6 flex flex-col gap-2">
                      <li>
                        Iniciar sesión en la configuración de tu cuenta y
                        actualizar tu cuenta de usuario.
                      </li>
                    </ul>
                    A pedido tuyo de terminar tu cuenta, desactivaremos o eliminaremos
                    tu cuenta e información de nuestras bases de datos activas. Sin
                    embargo, es posible que retengamos alguna información en nuestros
                    archivos para prevenir fraudes, solucionar problemas, ayudar
                    con cualquier investigación, hacer cumplir nuestros términos
                    legales y/o cumplir con los requisitos legales aplicables.
                  </div>
                </div>
                <div>
                  <strong>Cookies y tecnologías similares</strong>
                  <div>
                    <div>
                      La mayoría de los navegadores web están configurados para
                      aceptar cookies de forma predeterminada. Si prefieres,
                      generalmente puedes optar por configurar tu navegador para
                      eliminar cookies y rechazar cookies.
                    </div>
                    <div>
                      Si eliges eliminar cookies o rechazar cookies, esto podría
                      afectar ciertas funciones o servicios de nuestros
                      Servicios.
                    </div>
                    <div>
                      A pedido tuyo de terminar tu cuenta, desactivaremos o
                      eliminaremos tu cuenta e información de nuestras bases de
                      datos activas. Sin embargo, es posible que retengamos
                      alguna información en nuestros archivos para prevenir
                      fraudes, solucionar problemas, ayudar con cualquier
                      investigación, hacer cumplir nuestros términos legales y/o
                      cumplir con los requisitos legales aplicables.
                    </div>
                    <strong>
                      Para obtener más información, consulta nuestra Aviso de
                      cookies: <a href="https://www.swifly.app/cookies"
                        >https://www.swifly.app/cookies</a
                      >
                    </strong>
                  </div>
                </div>
              </div>

              <div>
                <div class="section-title">
                  10. CONTROLES PARA LAS FUNCIONES DE NO RASTREAR
                </div>
                <div>
                  La mayoría de los navegadores web y algunos sistemas
                  operativos móviles y aplicaciones móviles incluyen una función
                  o configuración de No Rastrear ('DNT', por sus siglas en
                  inglés) que puedes activar para señalar tu preferencia de
                  privacidad de no tener datos sobre tus actividades de
                  navegación en línea monitoreadas y recopiladas. En este
                  momento, no se ha finalizado ningún estándar tecnológico
                  uniforme para reconocer e implementar señales DNT. Por lo
                  tanto, actualmente no respondemos a las señales de los
                  navegadores DNT ni a ningún otro mecanismo que comunique
                  automáticamente tu elección de no ser rastreado en línea. Si
                  se adopta un estándar para el seguimiento en línea que debamos
                  seguir en el futuro, te informaremos sobre esa práctica en una
                  versión revisada de este aviso de privacidad.
                </div>
              </div>

              <div class="numbered">
                <div class="section-title">
                  11. ¿REALIZAMOS ACTUALIZACIONES A ESTE AVISO?
                </div>
                <div>
                  En resumen: Sí, actualizaremos este aviso según sea necesario
                  para cumplir con las leyes relevantes. Podemos actualizar este
                  aviso de privacidad de vez en cuando. La versión actualizada
                  se indicará con una fecha de revisión actualizada en la parte
                  superior de este aviso de privacidad. Si realizamos cambios
                  materiales en este aviso de privacidad, es posible que te
                  notifiquemos mediante la publicación destacada de un aviso de
                  tales cambios o mediante el envío directo de una notificación.
                  Te animamos a que revises este aviso de privacidad con
                  frecuencia para estar informado sobre cómo estamos protegiendo
                  tu información.
                </div>
              </div>

              <div class="numbered">
                <div class="section-title">
                  12. ¿CÓMO PUEDES CONTACTARNOS SOBRE ESTE AVISO?
                </div>
                <div>
                  Si tienes preguntas o comentarios sobre este aviso, puedes
                  enviarnos un correo electrónico a <a href="Swifly@swifly.app"
                    >Swifly@swifly.app</a
                  >.
                </div>
              </div>

              <div class="numbered">
                <div class="section-title">
                  13. ¿CÓMO PUEDES REVISAR, ACTUALIZAR O ELIMINAR LOS DATOS QUE
                  RECOPILAMOS DE TI?
                </div>
                Según las leyes aplicables de tu país, es posible que tengas derecho
                a solicitar acceso a la información personal que recopilamos de ti,
                detalles sobre cómo la hemos procesado, corregir inexactitudes o
                eliminar tu información personal. También es posible que tengas derecho
                a retirar tu consentimiento para que procesemos tu información personal.
                Estos derechos pueden estar limitados en algunas circunstancias por
                la ley aplicable. Para solicitar revisar, actualizar o eliminar tu
                información personal, visita:
                <a href="https://www.swifly.app/settings"
                  >Ajustes de usuario de Swifly</a
                >
              </div>
            </div>
          </div>
        </section>

        <style>
          .numbered {
            @apply flex flex-col justify-center items-start gap-4;
          }

          details {
            @apply p-4;
          }

          details > div {
            @apply p-8;
          }

          summary {
            @apply cursor-pointer list-none flex flex-row justify-between items-center;
          }

          .section-title {
            @apply font-semibold my-4 text-lg;
          }

          .contents {
            @apply flex flex-col justify-center items-center gap-12;
          }

          .policy {
            @apply flex flex-col gap-8 justify-center items-start;
          }

          .box {
            border: 1px solid var(--gray-800);
            border-radius: 0.75rem;
            padding: 1.5rem;
            background-color: var(--gray-999_40);
            box-shadow: var(--shadow-sm);
          }

          .input {
            display: flex;
            flex-direction: column;
          }

          #reset {
            color: white;
            cursor: pointer;
            padding-left: 2rem;
            padding-right: 2rem;
            padding-top: 1rem;
            padding-bottom: 1rem;
            margin-top: 2rem;
            border-radius: 9999px;
            border-width: 1px;
            --tw-border-opacity: 1;
            background-color: rgb(89 28 135 / var(--tw-border-opacity));
            border-left-color: rgb(192 132 252 / var(--tw-border-opacity));
            border-right-color: rgb(192 132 252 / var(--tw-border-opacity));
            border-top-color: rgb(168 85 247 / var(--tw-border-opacity));
            border-bottom-color: rgb(168 85 247 / var(--tw-border-opacity));
          }

          #login:hover {
            --tw-bg-opacity: 1;
            background-color: rgb(107 33 168 / var(--tw-bg-opacity));
          }

          .skills h2 {
            font-size: var(--text-lg);
          }

          .skills p {
            color: var(--gray-400);
          }

          @media (min-width: 50em) {
            .box {
              border-radius: 1.5rem;
              padding: 2.5rem;
            }

            .skills {
              display: grid;
              grid-template-columns: repeat(3, 1fr);
              gap: 5rem;
            }

            .skills h2 {
              font-size: var(--text-2xl);
            }
          }
        </style>
      </div>
    </main>
  </div>
</BaseLayout>
