---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/Hero.astro";
import Icon from "@/components/Icon.astro";
export const prerender = false;
---

<BaseLayout
  title="Info | Swifly"
  description="Mensaje informativo de Swifly para el usuario"
>
  <div class="stack gap-20">
    <main class="wrapper stack gap-8">
      <Hero title="" tagline="" />
      <div class="flex justify-center">
        <section
          class="box input flex flex-col justify-center items-start gap-12 h-fit rounded-none w-full max-w-6xl"
        >
          <div>
            <div class="section-title">POLÍTICA DE PRIVACIDAD</div>
            <div class="mb-8 text-sm">
              <strong>Last updated May 24, 2024 </strong>
            </div>
            Este aviso de privacidad para la aplicación Swifly ('nosotros', 'nos'
            o 'nuestro'), describe cómo y por qué podríamos recopilar, almacenar,
            usar y/o compartir ('procesar') tu información cuando utilizas nuestros
            servicios ('Servicios'), como cuando:

            <div class="flex flex-col gap-4">
              <div>
                Visitas nuestro sitio web en <a href="https://www.swifly.app"
                  >https://www.swifly.app</a
                >, o cualquier sitio web nuestro que enlace a este aviso de
                privacidad Interactúas con nosotros de otras maneras
                relacionadas, incluyendo cualquier venta, marketing o eventos.
              </div>
              <div>
                ¿Preguntas o preocupaciones? Leer este aviso de privacidad te
                ayudará a entender tus derechos y opciones de privacidad. <strong
                >
                  Si no estás de acuerdo con nuestras políticas y prácticas, por
                  favor, no utilices nuestros Servicios.
                </strong>
              </div>
            </div>
          </div>

          <div>
            <div class="section-title">RESUMEN DE PUNTOS CLAVE</div>
            <div class="divide-y divide-gray-200 divide-opacity-40">
              <details>
                <summary
                  ><span>¿Qué información personal procesamos?</span><Icon
                    icon="down"
                    size="1.2em"
                  /></summary
                >
                <div>
                  Cuando visitas, usas o navegas por nuestros Servicios, podemos
                  procesar información personal dependiendo de cómo interactúes
                  con nosotros y los Servicios, las opciones que hagas y los
                  productos y características que uses. <strong
                    >Obtén más información sobre la información personal que nos
                    proporcionas.</strong
                  >
                </div>
              </details>
              <details>
                <summary
                  ><span>¿Procesamos alguna información personal sensible?</span
                  >
                  <Icon icon="down" size="1.2em" /></summary
                >
                <div>No procesamos información personal sensible.</div>
              </details>
              <details>
                <summary
                  ><span>¿Recopilamos información de terceros?</span>
                  <Icon icon="down" size="1.2em" /></summary
                >
                <div>No recopilamos información de terceros.</div>
              </details>
              <details>
                <summary
                  ><span>¿Cómo procesamos tu información?</span><Icon
                    icon="down"
                    size="1.2em"
                  /></summary
                >
                <div>
                  Procesamos tu información para proporcionar, mejorar y
                  administrar nuestros Servicios, comunicarnos contigo, para
                  seguridad y prevención de fraudes, y para cumplir con la ley.
                  También podemos procesar tu información para otros fines con
                  tu consentimiento. Procesamos tu información solo cuando
                  tengamos una razón legal válida para hacerlo. Obtén más
                  información sobre cómo procesamos tu información.
                </div>
              </details>
              <details>
                <summary
                  ><span>
                    ¿En qué situaciones y con qué partes compartimos información
                    personal?</span
                  ><Icon icon="down" size="1.2em" /></summary
                >
                <div>
                  Podemos compartir información en situaciones específicas y con
                  terceros específicos. Obtén más información sobre cuándo y con
                  quién compartimos tu información personal.
                </div>
              </details>
              <details>
                <summary
                  ><span>¿Cómo mantenemos segura tu información?</span><Icon
                    icon="down"
                    size="1.2em"
                  /></summary
                >
                <div>
                  Tenemos procesos y procedimientos organizativos y técnicos
                  para proteger tu información personal. Sin embargo, ninguna
                  transmisión electrónica a través de Internet o tecnología de
                  almacenamiento de información puede garantizarse al 100%
                  segura, por lo que no podemos prometer o garantizar que los
                  hackers, ciberdelincuentes u otras terceras partes no
                  autorizadas no puedan vencer nuestra seguridad y recopilar,
                  acceder, robar o modificar tu información de manera
                  inapropiada. <strong
                    >Obtén más información sobre cómo mantenemos segura tu
                    información.</strong
                  >
                </div>
              </details>
              <details>
                <summary
                  ><span>¿Cuáles son tus derechos?</span><Icon
                    icon="down"
                    size="1.2em"
                  /></summary
                >
                <div>
                  Dependiendo de tu ubicación geográfica, la ley de privacidad
                  aplicable puede significar que tienes ciertos derechos
                  respecto a tu información personal. Obtén más información
                  sobre tus derechos de privacidad.
                </div>
              </details>
              <details>
                <summary
                  ><span>Cómo ejerces tus derechos?</span><Icon
                    icon="down"
                    size="1.2em"
                  /></summary
                >
                <div>
                  La forma más fácil de ejercer tus derechos es visitando
                  http://www.swifly.app/settings, o contactándonos.
                  Consideraremos y actuaremos sobre cualquier solicitud de
                  acuerdo con las leyes de protección de datos aplicables.
                </div>
              </details>
              <details>
                <summary
                  ><span
                    >¿Quieres aprender más sobre qué hacemos con cualquier
                    información que recopilamos?</span
                  ><Icon icon="down" size="1.2em" /></summary
                >
                <div>Revisa el aviso de privacidad completo.</div>
              </details>
            </div>

            <div>
              <div class="section-title">TABLA DE CONTENIDOS</div>
              <ul class="list-disc ml-4 flex flex-col gap-2 text-purple-500">
                <li>¿QUÉ INFORMACIÓN RECOPILAMOS?</li>
                <li>¿CÓMO PROCESAMOS TU INFORMACIÓN?</li>
                <li>
                  ¿EN QUÉ BASES LEGALES NOS APOYAMOS PARA PROCESAR TU
                  INFORMACIÓN PERSONAL?
                </li>
                <li>
                  ¿CUÁNDO Y CON QUIÉN COMPARTIMOS TU INFORMACIÓN PERSONAL?
                </li>
                <li>¿UTILIZAMOS COOKIES Y OTRAS TECNOLOGÍAS DE SEGUIMIENTO?</li>
                <li>
                  ¿CÓMO MANEJAMOS TUS INICIOS DE SESIÓN EN REDES SOCIALES?
                </li>
                <li>¿CUÁNTO TIEMPO CONSERVAMOS TU INFORMACIÓN?</li>
                <li>¿CÓMO MANTENEMOS SEGURA TU INFORMACIÓN?</li>
                <li>¿CUÁLES SON TUS DERECHOS DE PRIVACIDAD?</li>
                <li>CONTROLES PARA FUNCIONES DE NO RASTREO</li>
                <li>¿ACTUALIZAMOS ESTE AVISO?</li>
                <li>¿CÓMO PUEDES CONTACTARNOS SOBRE ESTE AVISO?</li>
                <li>
                  ¿CÓMO PUEDES REVISAR, ACTUALIZAR O ELIMINAR LOS DATOS QUE
                  RECOPILAMOS DE TI?
                </li>
              </ul>
            </div>
            <div>
              <div class="section-title">
                1. WHAT INFORMATION DO WE COLLECT?
              </div>
              Personal information you disclose to us In Short: We collect personal
              information that you provide to us. We collect personal information
              that you voluntarily provide to us when you register on the Services,
              express an interest in obtaining information about us or our products
              and Services, when you participate in activities on the Services, or
              otherwise when you contact us. Personal Information Provided by You.
              The personal information that we collect depends on the context of
              your interactions with us and the Services, the choices you make, and
              the products and features you use. The personal information we collect
              may include the following: email addresses usernames passwords contact
              or authentication data Sensitive Information. We do not process sensitive
              information. Social Media Login Data. We may provide you with the option
              to register with us using your existing social media account details,
              like your Facebook, X, or other social media account. If you choose
              to register in this way, we will collect certain profile information
              about you from the social media provider, as described in the section
              called 'HOW DO WE HANDLE YOUR SOCIAL LOGINS?' below. All personal information
              that you provide to us must be true, complete, and accurate, and you
              must notify us of any changes to such personal information.
            </div>

            <div>
              <div class="section-title">
                2. HOW DO WE PROCESS YOUR INFORMATION?
              </div>
              In Short: We process your information to provide, improve, and administer
              our Services, communicate with you, for security and fraud prevention,
              and to comply with law. We may also process your information for other
              purposes with your consent. We process your personal information for
              a variety of reasons, depending on how you interact with our Services,
              including: To facilitate account creation and authentication and otherwise
              manage user accounts. We may process your information so you can create
              and log in to your account, as well as keep your account in working
              order. To save or protect an individual's vital interest. We may process
              your information when necessary to save or protect an individual’s
              vital interest, such as to prevent harm.
            </div>

            <div>
              <div class="section-title">
                3. WHAT LEGAL BASES DO WE RELY ON TO PROCESS YOUR INFORMATION?
              </div>
              In Short: We only process your personal information when we believe
              it is necessary and we have a valid legal reason (i.e. legal basis)
              to do so under applicable law, like with your consent, to comply with
              laws, to provide you with services to enter into or fulfil our contractual
              obligations, to protect your rights, or to fulfil our legitimate business
              interests. The General Data Protection Regulation (GDPR) and UK GDPR
              require us to explain the valid legal bases we rely on in order to
              process your personal information. As such, we may rely on the following
              legal bases to process your personal information: Consent. We may process
              your information if you have given us permission (i.e. consent) to
              use your personal information for a specific purpose. You can withdraw
              your consent at any time. Learn more about withdrawing your consent.
              Legal Obligations. We may process your information where we believe
              it is necessary for compliance with our legal obligations, such as
              to cooperate with a law enforcement body or regulatory agency, exercise
              or defend our legal rights, or disclose your information as evidence
              in litigation in which we are involved. Vital Interests. We may process
              your information where we believe it is necessary to protect your vital
              interests or the vital interests of a third party, such as situations
              involving potential threats to the safety of any person.
            </div>

            <div>
              <div class="section-title">
                4. WHEN AND WITH WHOM DO WE SHARE YOUR PERSONAL INFORMATION?
              </div>
              In Short: We may share information in specific situations described
              in this section and/or with the following third parties. We may need
              to share your personal information in the following situations: Business
              Transfers. We may share or transfer your information in connection
              with, or during negotiations of, any merger, sale of company assets,
              financing, or acquisition of all or a portion of our business to another
              company.
            </div>

            <div>
              <div class="section-title">
                5. DO WE USE COOKIES AND OTHER TRACKING TECHNOLOGIES?
              </div>
              In Short: We may use cookies and other tracking technologies to collect
              and store your information. We may use cookies and similar tracking
              technologies (like web beacons and pixels) to gather information when
              you interact with our Services. Some online tracking technologies help
              us maintain the security of our Services and your account, prevent
              crashes, fix bugs, save your preferences, and assist with basic site
              functions. We also permit third parties and service providers to use
              online tracking technologies on our Services for analytics and advertising,
              including to help manage and display advertisements, to tailor advertisements
              to your interests, or to send abandoned shopping cart reminders (depending
              on your communication preferences). The third parties and service providers
              use their technology to provide advertising about products and services
              tailored to your interests which may appear either on our Services
              or on other websites. Specific information about how we use such technologies
              and how you can refuse certain cookies is set out in our Cookie Notice:
              http://www.swifly.app/cookies.
            </div>

            <div>
              <div class="section-title">
                6. HOW DO WE HANDLE YOUR SOCIAL LOGINS?
              </div>
              In Short: If you choose to register or log in to our Services using
              a social media account, we may have access to certain information about
              you. Our Services offer you the ability to register and log in using
              your third-party social media account details (like your Facebook or
              X logins). Where you choose to do this, we will receive certain profile
              information about you from your social media provider. The profile
              information we receive may vary depending on the social media provider
              concerned, but will often include your name, email address, friends
              list, and profile picture, as well as other information you choose
              to make public on such a social media platform. We will use the information
              we receive only for the purposes that are described in this privacy
              notice or that are otherwise made clear to you on the relevant Services.
              Please note that we do not control, and are not responsible for, other
              uses of your personal information by your third-party social media
              provider. We recommend that you review their privacy notice to understand
              how they collect, use, and share your personal information, and how
              you can set your privacy preferences on their sites and apps.
            </div>

            <div>
              <div class="section-title">
                7. HOW LONG DO WE KEEP YOUR INFORMATION?
              </div>
              In Short: We keep your information for as long as necessary to fulfil
              the purposes outlined in this privacy notice unless otherwise required
              by law. We will only keep your personal information for as long as
              it is necessary for the purposes set out in this privacy notice, unless
              a longer retention period is required or permitted by law (such as
              tax, accounting, or other legal requirements). No purpose in this notice
              will require us keeping your personal information for longer than one
              (1) months past the termination of the user's account . When we have
              no ongoing legitimate business need to process your personal information,
              we will either delete or anonymise such information, or, if this is
              not possible (for example, because your personal information has been
              stored in backup archives), then we will securely store your personal
              information and isolate it from any further processing until deletion
              is possible.
            </div>

            <div>
              <div class="section-title">
                8. HOW DO WE KEEP YOUR INFORMATION SAFE?
              </div>
              In Short: We aim to protect your personal information through a system
              of organisational and technical security measures. We have implemented
              appropriate and reasonable technical and organisational security measures
              designed to protect the security of any personal information we process.
              However, despite our safeguards and efforts to secure your information,
              no electronic transmission over the Internet or information storage
              technology can be guaranteed to be 100% secure, so we cannot promise
              or guarantee that hackers, cybercriminals, or other unauthorised third
              parties will not be able to defeat our security and improperly collect,
              access, steal, or modify your information. Although we will do our
              best to protect your personal information, transmission of personal
              information to and from our Services is at your own risk. You should
              only access the Services within a secure environment.
            </div>

            <div>
              <div class="section-title">9. WHAT ARE YOUR PRIVACY RIGHTS?</div>
              In Short: In some regions, such as the European Economic Area (EEA),
              United Kingdom (UK), and Switzerland, you have rights that allow you
              greater access to and control over your personal information. You may
              review, change, or terminate your account at any time, depending on
              your country, province, or state of residence. In some regions (like
              the EEA, UK, and Switzerland), you have certain rights under applicable
              data protection laws. These may include the right (i) to request access
              and obtain a copy of your personal information, (ii) to request rectification
              or erasure; (iii) to restrict the processing of your personal information;
              (iv) if applicable, to data portability; and (v) not to be subject
              to automated decision-making. In certain circumstances, you may also
              have the right to object to the processing of your personal information.
              You can make such a request by contacting us by using the contact details
              provided in the section 'HOW CAN YOU CONTACT US ABOUT THIS NOTICE?'
              below. We will consider and act upon any request in accordance with
              applicable data protection laws. If you are located in the EEA or UK
              and you believe we are unlawfully processing your personal information,
              you also have the right to complain to your Member State data protection
              authority or UK data protection authority. If you are located in Switzerland,
              you may contact the Federal Data Protection and Information Commissioner.
              Withdrawing your consent: If we are relying on your consent to process
              your personal information, you have the right to withdraw your consent
              at any time. You can withdraw your consent at any time by contacting
              us by using the contact details provided in the section 'HOW CAN YOU
              CONTACT US ABOUT THIS NOTICE?' below. However, please note that this
              will not affect the lawfulness of the processing before its withdrawal
              nor, will it affect the processing of your personal information conducted
              in reliance on lawful processing grounds other than consent. Account
              Information If you would at any time like to review or change the information
              in your account or terminate your account, you can: Log in to your
              account settings and update your user account. Upon your request to
              terminate your account, we will deactivate or delete your account and
              information from our active databases. However, we may retain some
              information in our files to prevent fraud, troubleshoot problems, assist
              with any investigations, enforce our legal terms and/or comply with
              applicable legal requirements. Cookies and similar technologies: Most
              Web browsers are set to accept cookies by default. If you prefer, you
              can usually choose to set your browser to remove cookies and to reject
              cookies. If you choose to remove cookies or reject cookies, this could
              affect certain features or services of our Services. For further information,
              please see our Cookie Notice: http://www.swifly.app/cookies.
            </div>

            <div>
              <div class="section-title">
                10. CONTROLS FOR DO-NOT-TRACK FEATURES
              </div>
              Most web browsers and some mobile operating systems and mobile applications
              include a Do-Not-Track ('DNT') feature or setting you can activate
              to signal your privacy preference not to have data about your online
              browsing activities monitored and collected. At this stage, no uniform
              technology standard for recognising and implementing DNT signals has
              been finalised. As such, we do not currently respond to DNT browser
              signals or any other mechanism that automatically communicates your
              choice not to be tracked online. If a standard for online tracking
              is adopted that we must follow in the future, we will inform you about
              that practice in a revised version of this privacy notice.
            </div>

            <div>
              <div class="section-title">
                11. DO WE MAKE UPDATES TO THIS NOTICE?
              </div>
              In Short: Yes, we will update this notice as necessary to stay compliant
              with relevant laws. We may update this privacy notice from time to
              time. The updated version will be indicated by an updated 'Revised'
              date at the top of this privacy notice. If we make material changes
              to this privacy notice, we may notify you either by prominently posting
              a notice of such changes or by directly sending you a notification.
              We encourage you to review this privacy notice frequently to be informed
              of how we are protecting your information.
            </div>

            <div>
              <div class="section-title">
                12. HOW CAN YOU CONTACT US ABOUT THIS NOTICE?
              </div>
              If you have questions or comments about this notice, you may email
              us at Swifly@swifly.app
            </div>

            <div>
              <div class="section-title">
                13. HOW CAN YOU REVIEW, UPDATE, OR DELETE THE DATA WE COLLECT
                FROM YOU?
              </div>
              Based on the applicable laws of your country, you may have the right
              to request access to the personal information we collect from you,
              details about how we have processed it, correct inaccuracies, or delete
              your personal information. You may also have the right to withdraw
              your consent to our processing of your personal information. These
              rights may be limited in some circumstances by applicable law. To request
              to review, update, or delete your personal information, please visit:
              <a href="https://www.swifly.app/settings">Swifly</a>
            </div>
          </div>
        </section>
      </div>

      <style>
        details {
          @apply p-4;
        }

        summary {
          @apply cursor-pointer list-none flex flex-row justify-between items-center;
        }

        .section-title {
          @apply font-semibold my-4 text-lg;
        }

        .contents {
          @apply flex flex-col justify-center items-center gap-12;
        }

        .policy {
          @apply flex flex-col gap-8 justify-center items-start;
        }

        .box {
          border: 1px solid var(--gray-800);
          border-radius: 0.75rem;
          padding: 1.5rem;
          background-color: var(--gray-999_40);
          box-shadow: var(--shadow-sm);
        }

        .input {
          display: flex;
          flex-direction: column;
        }

        #reset {
          color: white;
          cursor: pointer;
          padding-left: 2rem;
          padding-right: 2rem;
          padding-top: 1rem;
          padding-bottom: 1rem;
          margin-top: 2rem;
          border-radius: 9999px;
          border-width: 1px;
          --tw-border-opacity: 1;
          background-color: rgb(89 28 135 / var(--tw-border-opacity));
          border-left-color: rgb(192 132 252 / var(--tw-border-opacity));
          border-right-color: rgb(192 132 252 / var(--tw-border-opacity));
          border-top-color: rgb(168 85 247 / var(--tw-border-opacity));
          border-bottom-color: rgb(168 85 247 / var(--tw-border-opacity));
        }

        #login:hover {
          --tw-bg-opacity: 1;
          background-color: rgb(107 33 168 / var(--tw-bg-opacity));
        }

        .skills h2 {
          font-size: var(--text-lg);
        }

        .skills p {
          color: var(--gray-400);
        }

        @media (min-width: 50em) {
          .box {
            border-radius: 1.5rem;
            padding: 2.5rem;
          }

          .skills {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 5rem;
          }

          .skills h2 {
            font-size: var(--text-2xl);
          }
        }
      </style>
    </main>
  </div>
</BaseLayout>
