---
import DashboardNav from "../components/DashboardNav.astro";
import HeadDashboard from "../components/HeadDashboard.astro";
---

<html lang="es">
  <HeadDashboard subtitle="Mis proyectos" />
  <body class="bg-gray-100 flex flex-col justify-center items-center">
    <DashboardNav />
    <div
      class="project-container mt-24 rounded-xl bg-white w-full max-w-7xl border border-gray-300 p-12"
    >
      <div class="task-card w-full h-screen">
        <div class="relative mb-3">
          <h6 class="mb-0">
            <button
              class="relative flex items-center w-full p-4 font-semibold text-left transition-all ease-in border-b border-solid cursor-pointer border-slate-100 text-slate-700 rounded-t-1 group text-dark-500"
              data-collapse-target="collapse-1"
            >
              <span>Lorem Ipsum</span>
              <i
                class="absolute right-0 pt-1 text-xs fa fa-plus group-open:opacity-0"
              ></i>
              <i
                class="absolute right-0 pt-1 text-xs opacity-0 fa fa-minus group-open:opacity-100"
              ></i>
            </button>
          </h6>
          <div
            data-collapse="collapse-1"
            class="h-0 overflow-hidden transition-all duration-300 ease-in-out"
          >
            <div class="p-4 text-sm leading-normal text-blue-gray-500/80">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore
              sunt quidem, aliquam esse eveniet veritatis dolore ad. Voluptates
              at magnam rem ab eos, modi temporibus iste distinctio deleniti
              voluptatum nesciunt.
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
