---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/Hero.astro";
import SignUpBox from "../components/SignUp.astro";
---

<BaseLayout
  title="Registro | Swifly"
  description="Crea una nueva cuenta de usuario en Swifly"
>
  <div class="stack gap-20">
    <main class="wrapper stack gap-8">
      <Hero
        title="Regístrate"
        tagline="O inicia sesión ahora si ya tienes una cuenta"
        align="start"
      />
      <div class="flex justify-center">
        <SignUpBox />
      </div>
    </main>
  </div>
</BaseLayout>
