---
import Icon from "./Icon.astro";

// SignIn auth-astro
import { SignIn } from "auth-astro/components";
---

<section
  class="box input flex justify-center items-center h-fit rounded-none w-full max-w-lg"
>
  <div
    class="login-logo flex items-center justify-center p-2 bg-neutral-50 mb-4 border border-purple-500 border-opacity-50 rounded-full"
  >
    <Icon icon="swifly" color="var(--accent-regular)" size="2.5em" gradient />
  </div>
  <div
    class="providers-sign-in flex flex-col divide-y divide-slate-500 divide-opacity-50"
  >
    <!-- <div
      class="google-sign-in flex flex-row justify-center items-center gap-3 p-6 w-full border-t border-slate-500 border-opacity-50"
    >
      <div class="google-icon bg-white shadow-md rounded-full p-1">
        <Icon icon="google" size="1em" />
      </div>
      <SignIn provider="google" class="hover:text-slate-600"
        >Iniciar sesión con Google</SignIn
      >
    </div> -->
    <div class="github-sign-in border-y border-y-slate-500 border-opacity-50">
      <a
        href="/api/github"
        class="flex flex-row justify-center items-center gap-3 p-6 w-full hover:opacity-80"
      >
        <div
          class="github-icon bg-white text-slate-900 shadow-md rounded-full p-1"
        >
          <Icon icon="github-logo" size="1.1em" />
        </div>
        Iniciar sesión con GitHub</a
      >
      <!-- <SignIn provider="github" class="hover:text-slate-600"
        >Iniciar sesión con GitHub</SignIn
      > -->
    </div>
  </div>
  <form
    method="POST"
    id="loginForm"
    action="/api/signin"
    class="flex flex-col justify-center gap-8 py-12 items-center w-full"
  >
    <label for="username" class="text-xl">Usuario</label>
    <input
      type="text"
      name="username"
      id="username"
      class="bg-opacity-50 px-8 py-4 rounded-xl border border-x-[var(--gray-800)] border-y-[var(--gray-600)] focus:outline-none focus:border-purple-600 bg-[var(--gray-900)]"
    />
    <span id="usernameError" class="error"></span>
    <label for="password" class="text-xl">Clave</label>
    <input
      type="password"
      name="password"
      id="password"
      class="bg-opacity-50 px-8 py-4 rounded-xl border border-x-[var(--gray-800)] border-y-[var(--gray-600)] focus:outline-none focus:border-purple-600 bg-[var(--gray-900)]"
    />
    <span id="passwordError" class="error"></span>
    <input type="submit" class="shadow-xl" value="Iniciar sesión" id="login" />
    <div class="utils text-sm flex flex-col items-center justify-center">
      <a href="/forgot" class="hover:opacity-80 m-2"
        >He olvidado mi contraseña</a
      >
      <a href="/signup" class="hover:opacity-80 m-2">Quiero registrarme</a>
    </div>
  </form>

  <script>
    const validations = {
      username: (value) => {
        if (!value) return "Username is required";
        if (
          value.length < 3 ||
          value.length > 31 ||
          !/^[a-zA-Z0-9._-]+$/.test(value)
        )
          // return "Username must be a valid data entry: lowercase letters, numbers, and the characters . _ -";
          return "El nombre de usuario debe ser válido: de al menos 3 caracteres alfanuméricos, y signos como [ . _ - ]";
        return "";
      },
      password: (value) => {
        if (!value) return "Password is required";
        if (
          value.length < 8 ||
          value.length > 255 ||
          !/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}$/.test(value)
        )
          return "Password must be at least 8 characters long, with at least one digit, one uppercase letter, and one lowercase letter";
        return "";
      },
    };

    const showError = (input, message) => {
      const errorSpan = document.getElementById(input.id + "Error");
      errorSpan.textContent = message;
      input.classList.add("bg-red-400");
    };

    const clearError = (input) => {
      const errorSpan = document.getElementById(input.id + "Error");
      errorSpan.textContent = "";
      input.classList.remove("bg-red-400");
    };

    const addBlurEvent = (input, validation) => {
      input.addEventListener("blur", (event) => {
        const message = validation(event.target.value);
        if (message) {
          showError(event.target, message);
        } else {
          clearError(event.target);
        }
      });
    };

    const usernameInput = document.getElementById("username");
    const passwordInput = document.getElementById("password");

    addBlurEvent(usernameInput, validations.username);
    addBlurEvent(passwordInput, validations.password);
  </script>

  <style>
    form span {
      @apply text-center text-red-500 my-2 text-balance w-full max-w-72;
    }

    .login-logo {
      box-shadow: var(--shadow-md);
      background: radial-gradient(var(--gray-900), var(--gray-900) 150%);
    }

    .box {
      border: 1px solid var(--gray-800);
      border-radius: 0.75rem;
      padding: 1.5rem;
      background-color: var(--gray-999_40);
      box-shadow: var(--shadow-sm);
    }

    .input {
      display: flex;
      flex-direction: column;
    }

    #login {
      color: white;
      cursor: pointer;
      padding-left: 2rem;
      padding-right: 2rem;
      padding-top: 1rem;
      padding-bottom: 1rem;
      margin-top: 2rem;
      border-radius: 9999px;
      border-width: 1px;
      --tw-border-opacity: 1;
      background-color: rgb(89 28 135 / var(--tw-border-opacity));
      border-left-color: rgb(192 132 252 / var(--tw-border-opacity));
      border-right-color: rgb(192 132 252 / var(--tw-border-opacity));
      border-top-color: rgb(168 85 247 / var(--tw-border-opacity));
      border-bottom-color: rgb(168 85 247 / var(--tw-border-opacity));
    }

    #login:hover {
      --tw-bg-opacity: 1;
      background-color: rgb(107 33 168 / var(--tw-bg-opacity));
    }

    .skills h2 {
      font-size: var(--text-lg);
    }

    .skills p {
      color: var(--gray-400);
    }

    @media (min-width: 50em) {
      .box {
        border-radius: 1.5rem;
        padding: 2.5rem;
      }

      .skills {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 5rem;
      }

      .skills h2 {
        font-size: var(--text-2xl);
      }
    }
  </style>
</section>
