<section class="box input flex justify-center items-center h-[600px]">
  <label for="username" class="text-xl">Usuario</label>
  <input
    type="text"
    name="username"
    id="username"
    class="bg-gray-800 bg-opacity-50 px-8 py-4 rounded-xl border border-x-gray-800 border-y-gray-600"
  />
  <label for="password" class="text-xl">Clave</label>
  <input
    type="password"
    name="password"
    id="password"
    class="bg-gray-800 bg-opacity-50 px-8 py-4 rounded-xl border border-x-gray-800 border-y-gray-600"
  />
  <input
    type="submit"
    value="Iniciar sesión"
    class="px-8 py-4 mt-8 bg-purple-900 rounded-full hover:bg-purple-800 cursor-pointer border border-x-purple-400 border-y-purple-500"
  />
</section>

<style>
  .box {
    border: 1px solid var(--gray-800);
    border-radius: 0.75rem;
    padding: 1.5rem;
    background-color: var(--gray-999_40);
    box-shadow: var(--shadow-sm);
  }

  .input {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .skills h2 {
    font-size: var(--text-lg);
  }

  .skills p {
    color: var(--gray-400);
  }

  @media (min-width: 50em) {
    .box {
      border-radius: 1.5rem;
      padding: 2.5rem;
    }

    .skills {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 5rem;
    }

    .skills h2 {
      font-size: var(--text-2xl);
    }
  }
</style>
