---
import Icon from "./Icon.astro";
---

<section class="box skills">
  <div class="stack gap-2 lg:gap-4">
    <Icon icon="unified" color="var(--accent-regular)" size="2.5rem" gradient />
    <h2>Unificación</h2>
    <p>La aplicación para hacerlo todo. Unifica herramientas.</p>
  </div>
  <div class="stack gap-2 lg:gap-4">
    <Icon icon="info" color="var(--accent-regular)" size="2.5rem" gradient />
    <h2>Control</h2>
    <p>
      Ten el control en todo momento: mantén el orden de tu proyecto con un
      historial de cambios.
    </p>
  </div>
  <div class="stack gap-2 lg:gap-4">
    <Icon icon="custom" color="var(--accent-regular)" size="2.5rem" gradient />
    <h2>Personalización</h2>
    <p>
      Todas las tareas añadidas se pueden arrastrar y soltar dentro de Swifly.
    </p>
  </div>
</section>

<style>
  .box {
    border: 1px solid var(--gray-800);
    border-radius: 0.75rem;
    padding: 1.5rem;
    background-color: var(--gray-999_40);
    box-shadow: var(--shadow-sm);
  }

  .skills {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  .skills h2 {
    font-size: var(--text-lg);
  }

  .skills p {
    color: var(--gray-400);
  }

  @media (min-width: 50em) {
    .box {
      border-radius: 1.5rem;
      padding: 2.5rem;
    }

    .skills {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 5rem;
    }

    .skills h2 {
      font-size: var(--text-2xl);
    }
  }
</style>
