---
import HeadDashboard from "../../components/HeadDashboard.astro";
import DashboardNav from "../../components/DashboardNav.astro";
import Icon from "../../components/Icon.astro";
import WrappedPopover from "../../components/ui/WrappedPopover";
import Board from "../../components/ui/Board";
import { Projects, db, eq } from "astro:db";

export const prerender = true;

export async function getStaticPaths() {
  const projects = await db.select().from(Projects);
  const paths = projects.map((project) => ({
    params: { projectId: project.id },
  }));

  return paths;
}

const { projectId } = Astro.params;
const project = (
  await db.select().from(Projects).where(eq(Projects.id, projectId))
).at(0);

if (!project) {
  throw new Error(`Project with id ${projectId} not found`);
}

const user = Astro.locals.user;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>
      {user ? `Usuario: ${user.username}` : "No hay usuario en sesión"}
      Estoy en el proyecto con id {project.id} del creador {
        project.user_creator
      }
    </div>
  </body>
</html>

<!-- <html lang="es">
  <HeadDashboard subtitle="Mis proyectos" />
  <body class="bg-gray-100 flex flex-col justify-center items-center">
    <DashboardNav />
    <div
      class="project-container flex flex-col justify-center items-center mt-24 rounded-xl bg-neutral-50 border border-gray-300 w-full max-w-7xl"
    >
      <div
        class="project-wrapper flex flex-row justify-start m-12 items-end gap-2 w-full"
      >
        <h2 class="ml-10">Título de proyecto</h2>
        <div
          class="project-edit cursor-pointer text-grape-900 text-opacity-75 hover:text-opacity-100"
        >
          <div
            class="project-edit-popover flex flex-row gap-1 items-end justify-center"
          >
            <Icon icon="edit" size="0.9em" />
            <div class="popover text-sm text-gray-400 font-semibold">
              <WrappedPopover title="Editar" client:only="react">
                <div class="flex flex-col items-center justify-start">
                  <form
                    action="post"
                    class="rounded-lg w-full flex flex-col justify-center items-center text-grape-900 font-semibold"
                  >
                    <label for="project-edit-title">Nombre de proyecto</label>
                    <span class="text-gray-400 font-normal p-1 text-sm"
                      >Modifica el nombre de tu proyecto</span
                    >
                    <hr class="h-px w-full text-gray-400 my-3" />
                    <input
                      type="text"
                      name="project-edit-title"
                      id="project-edit-title"
                      class="w-full shadow-inner p-2 rounded-lg border border-grape-700 bg-plum-100 focus:bg-plum-200 outline-none focus:ring-1 focus:ring-grape-900 my-2"
                    />
                    <input
                      type="submit"
                      value="Cambiar"
                      class="w-full bg-grape-800 rounded-lg p-2 text-white cursor-pointer hover:bg-grape-900"
                    />
                  </form>
                </div>
              </WrappedPopover>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="my-8 w-full max-w-7xl">
      <Board client:only="react" />
    </div></body
  >
</html> -->
